USE [finsoft_save_dc_org_savedc]
GO
/****** Object:  StoredProcedure [dbo].[LoadSchoolMonthlyExpense]    Script Date: 02/28/2014 17:49:27 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LoadSchoolMonthlyExpense] 
@SchoolId int,
@MonthString varchar(50) = null,
@FromDate date,
@ToDate Date,

@PageNo int = 1,
@PageSize int = 10,
@TotalRecord int out

/* with encryption */ 

AS




DECLARE @StartRow int , @EndRow int;

If(@PageNo is null or @PageNo = 0)
begin
	SET @PageNo = 1;
end	

If(@PageSize is null or @PageSize = 0)
	SET @PageSize = (Select COUNT(*) from tblUsers);
--else
--	SET @PageSize = 10;
	
SET @StartRow = (@PageNo - 1) * @PageSize + 1;
SET @EndRow = @PageNo * @PageSize


Create Table #TempTable
(
IID int IDENTITY PRIMARY KEY,
ActionDate datetime,
ExpMonth varchar(50),
PaymentDetailId int,
TotalExpenseAmount decimal(38,2),
NumStudents int
)



Declare @TempSQL varchar(1024);

Set @TempSQL = 'Insert into #TempTable(ActionDate, ExpMonth, PaymentDetailId, NumStudents, TotalExpenseAmount) '
Set @TempSQL = @TempSQL + ' select max(sme.[ActionDate]), dbo.FormateDate(sme.[Month]) as ExpMonth , max(PaymentDetailId) as PaymentDetailId, (count(sme.StudentId)/11) as NumStudents, sum(Amount) as TotalExpenseAmount '
Set @TempSQL = @TempSQL + ' from tblStudentsMonthlyExpenses sme inner join tblStudentsMonthlyExpenseDetail smed '
Set @TempSQL = @TempSQL + ' on smed.MonthlyExpenseId = sme.MonthlyExpenseId inner join tblStudents s on sme.StudentId = s.StudentId '
Set @TempSQL = @TempSQL + ' where sme.SchoolId = ' + convert(nvarchar,@SchoolId) -- and sme.[Month] between @FromDate and @ToDate '
Set @TempSQL = @TempSQL + ' and s.IsDeleted != 1 '


if(@MonthString is not null and @MonthString != '' )
	Set @TempSQL = @TempSQL + ' And dbo.FormateDate(sme.[Month])  like ''%' + @MonthString + '%''';
	
Set @TempSQL = @TempSQL + '	group by  sme.[Month] '
		

exec (@TempSQL);
 
Set @TotalRecord = (select COUNT(*) from #TempTable);


Set @TempSQL = 	'select * from #TempTable left join tblExpensePaymentDetails on tblExpensePaymentDetails.PaymentDetailId = #TempTable.PaymentDetailId left join tblBanks on tblBanks.BankId = tblExpensePaymentDetails.BankId '
Set @TempSQL = @TempSQL + ' WHERE  IID >= '+ convert(nvarchar,@StartRow)+' AND IID <= ' + convert(nvarchar,@EndRow)
Set @TempSQL = @TempSQL + ' order by ActionDate desc; '
exec (@TempSQL);
GO
