USE [finsoft_save_dc_org_savedc]
GO
/****** Object:  StoredProcedure [dbo].[DeleteStudentSchoolEstimation]    Script Date: 02/28/2014 17:48:52 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteStudentSchoolEstimation]
@EstimationId int
/* with encryption */ 

AS

BEGIN TRAN T1;

delete from tblSchoolEstimationDetails where EstimationId = @EstimationId;
delete from tblSchoolEstimations where  EstimationId = @EstimationId;



if @@error != 0
begin
	ROLLBACK TRAN T1;
	return 0;
end	
else
begin
	COMMIT TRAN  T1;
	return 1;
end
GO
