USE [finsoft_save_dc_org_savedc]
GO
/****** Object:  StoredProcedure [dbo].[GetStatusNameById]    Script Date: 02/28/2014 17:49:16 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[GetStatusNameById]
@StatusId int 

/* with encryption */ 

AS

	Select s.StatusDesc from tblStudentStatuses s where s.StatusId = @StatusId
GO
