USE [finsoft_save_dc_org_savedc]
GO
/****** Object:  StoredProcedure [dbo].[LoadMonthlyExpenseDetails]    Script Date: 02/28/2014 17:49:25 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LoadMonthlyExpenseDetails]  
@StudentId int, 
@ExpenseId int
/* with encryption */ 

AS

	if exists (select * from tblSchoolExpenseDetail e where e.StudentId = @StudentId and @ExpenseId = @ExpenseId)
	begin
		select tblExpenseCategories.ExpenseId, tblExpenseCategories.ExpenseName, isnull(Amount,0) as Amount , 
		StudentId 	from tblExpenseCategories inner join tblSchoolExpenseDetail 
		on tblExpenseCategories.ExpenseId = tblSchoolExpenseDetail.ExpenseCateId
		where @ExpenseId = @ExpenseId and StudentId = @StudentId
		order by tblExpenseCategories.DisplayOrder asc;

	end
	begin
	
		select tblExpenseCategories.ExpenseId, tblExpenseCategories.ExpenseName, isnull(Amount,0) as Amount , 
		StudentId 	from tblExpenseCategories left join tblSchoolExpenseDetail 
		on tblExpenseCategories.ExpenseId = tblSchoolExpenseDetail.ExpenseCateId
		
		order by tblExpenseCategories.DisplayOrder asc;
			
	end
GO
