USE [finsoft_save_dc_org_savedc]
GO
/****** Object:  StoredProcedure [dbo].[GetSentSms]    Script Date: 02/28/2014 17:49:14 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetSentSms]
@ParentId int = 0,
@ParentType varchar(3),
@ActionDate nvarchar(50) = null,
@PageNo int = 1,
@PageSize int = 10,
@TotalRecord int out
/* with encryption */ 

AS


DECLARE @StartRow int , @EndRow int;

If(@PageNo is null or @PageNo = 0)
begin
	SET @PageNo = 1;
end	

If(@PageSize is null or @PageSize = 0)
	SET @PageSize = (Select COUNT(*) from tblSentSMS);
--else
--	SET @PageSize = 10;
	
SET @StartRow = (@PageNo - 1) * @PageSize + 1;
SET @EndRow = @PageNo * @PageSize


Create Table #TempTable
(
IID int IDENTITY PRIMARY KEY,
SmsId int,

)

Declare @TempSQL varchar(512);


Set @TempSQL = 'Insert into #TempTable(SmsId )  select SmsId from tblSentSMS where  ';

Set @TempSQL = @TempSQL + '  ParentType =  ''' + @ParentType + '''';

if(@ParentId > 0)
	Set @TempSQL = @TempSQL + ' And ParentId = ' + CONVERT(nvarchar, @ParentId)

if(@ActionDate is not null and @ActionDate !='')
	Set @TempSQL = @TempSQL + ' And CONVERT(VARCHAR(25), ActionDate, 101) like ''%' +  @ActionDate + '%'''





Set @TempSQL = @TempSQL + ' Order by ActionDate desc'

	print @TempSQL
exec (@TempSQL);
 
Set @TotalRecord = (select COUNT(*) from #TempTable);


Set @TempSQL = 	'select tblSentSMS.* from #TempTable Inner join tblSentSMS on #TempTable.SmsId = tblSentSMS.SmsId '
Set @TempSQL = @TempSQL + ' WHERE  IID >= '+ convert(nvarchar,@StartRow)+' AND IID <= ' + convert(nvarchar,@EndRow)


exec (@TempSQL);
GO
