USE [finsoft_save_dc_org_savedc]
GO
/****** Object:  StoredProcedure [dbo].[AddStudentProgressReport]    Script Date: 02/28/2014 17:48:40 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddStudentProgressReport]
@ReportId int = 0,
@StudentId int,
@Month int,
@Year int,
@Note nvarchar(255),
@ReportGUID nvarchar(50),
@AddedBy int
/* with encryption */ 

AS

	declare @SchoolId int
	set @SchoolId = ( Select SchoolId from tblStudents where StudentId  = @StudentId ) 

	declare @RevValue int;
	Set @RevValue = 0;
	
	if(@ReportId = 0 or @ReportId is null)
	begin
		if exists(select * from tblStudentProgressReport where StudentId = @StudentId and [Month] = @Month and [Year] = @Year)
		Set @RevValue = (select ReportId from  tblStudentProgressReport where StudentId = @StudentId and [Month] = @Month and [Year] = @Year)
		else
		begin	
			Insert into tblStudentProgressReport( StudentId, SchoolId, [Month], [Year], Note,  ReportGUID, AddedBy)
			Values( @StudentId ,@SchoolId, @Month, @Year, @Note, @ReportGUID, @AddedBy) 
			Set @RevValue = @@IDENTITY;
		end	
	end
	else
	begin
		Update tblStudentProgressReport
		set [Month]= @Month,
		 [Year] =  @Year,
		 Note = @Note, 
		 ReportGUID = @ReportGUID,
		 AddedBy =@AddedBy
		where   ReportId = @ReportId
		
		Set @RevValue = @ReportId;
	end
	
	return @RevValue;
GO
