USE [finsoft_save_dc_org_savedc]
GO
/****** Object:  StoredProcedure [dbo].[AddExpensePaymentDetails]    Script Date: 02/28/2014 17:48:33 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddExpensePaymentDetails]
@PaymentDetailId int = null,
@PaymentMode int ,
@BankId int,
@AccountNum nvarchar (50), 
@ChequeNum  nvarchar (50),
@Note nvarchar(255),
@NetAmount decimal(18,2)

/* with encryption */ 

AS

	declare @RevValue int;
	Set @RevValue = 0;
	
	if(@PaymentDetailId = 0 or @PaymentDetailId is null)
	begin
		Insert into tblExpensePaymentDetails (PaymentMode, BankId, ChequeNum, AccountNum, Note, NetAmount)
		Values (@PaymentMode, @BankId, @ChequeNum, @AccountNum, @Note, @NetAmount)	;
		Set @RevValue = @@IDENTITY;
	end
	else
	begin
		Update tblExpensePaymentDetails set 
		PaymentMode = @PaymentMode, 
		BankId = @BankId, 
		ChequeNum = @ChequeNum, 
		AccountNum = @AccountNum, 
		Note = @Note,
		NetAmount = @NetAmount
		where PaymentDetailId  = @PaymentDetailId;
		
		Set @RevValue = @PaymentDetailId;
	end
	
	return @RevValue;
GO
