USE [finsoft_save_dc_org_savedc]
GO
/****** Object:  StoredProcedure [dbo].[GetFundsList]    Script Date: 02/28/2014 17:49:06 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetFundsList]
@DonorId int = null,
@FundedOnDateString varchar(50) = null,
@DonorName varchar(255) = null,
@FundAmount decimal(38,2) = null,
@FundDateFrom date = null,
@FundDateTo date = null,
@FundPostedBy int = null,

@PageNo int = 1,
@PageSize int = 10,
@TotalRecord int out
/* with encryption */ 

AS


DECLARE @StartRow int , @EndRow int;

If(@PageNo is null or @PageNo = 0)
begin
	SET @PageNo = 1;
end	

If(@PageSize is null or @PageSize = 0)
	SET @PageSize = (Select COUNT(*) from tblDonorsFunds);
--else
--	SET @PageSize = 10;
	
SET @StartRow = (@PageNo - 1) * @PageSize + 1;
SET @EndRow = @PageNo * @PageSize


Create Table #TempTable
(
IID int IDENTITY PRIMARY KEY,
FundId int,
DonorName varchar(255),
DonorId int,
Notes varchar(65),
DatePaid date,
FundPostedName varchar(255),
TotalAmount decimal
)

Declare @TempSQL varchar(512);


Set @TempSQL = 'Insert into #TempTable(FundId,DonorName,DonorId, Notes, DatePaid, TotalAmount,FundPostedName )  select FundId, tblUsers.UserName as DonorName, DonorId,  left(tblDonorsFunds.Notes, 65)  as Notes, DatePaid, TotalAmount,(select UserName from tblUsers d where d.UserId = tblDonorsFunds.FundPostedBy) as FundPostedName from tblDonorsFunds inner join tblUsers on tblDonorsFunds.DonorId = tblUsers.UserId where tblDonorsFunds.IsDeleted != 1 ';
 
 if(@DonorName is not null and @DonorName != '' )
	Set @TempSQL = @TempSQL + ' And tblUsers.UserName like ''%' + @DonorName + '%''';
	
 if(@DonorId is not null and @DonorId > 0 )
	Set @TempSQL = @TempSQL + ' And tblUsers.UserID = ' +CONVERT(nvarchar, @DonorId ) ;
	
 if(@FundPostedBy is not null and @FundPostedBy > 0 )
	Set @TempSQL = @TempSQL + ' And tblDonorsFunds.FundPostedBy = ' +CONVERT(nvarchar, @FundPostedBy ) ;
	
if(@FundedOnDateString is not null and @FundedOnDateString != '' )
	Set @TempSQL = @TempSQL + ' And dbo.FormateDate( DatePaid ,1 )  like ''%' + @FundedOnDateString + '%''';

	
		
if(@FundAmount is not null and @FundAmount > 0 )
	Set @TempSQL = @TempSQL + ' And TotalAmount = ' + convert(nvarchar,@FundAmount );
Set @TempSQL = @TempSQL + ' Order by DatePaid desc'

--if(@FundDateFrom is not null and @FundDateFrom != '' and @FundDateTo is not null and @FundDateTo != '' )
--	Set @TempSQL = @TempSQL + ' And DatePaid between ''' + convert(nvarchar,@FundDateFrom) + ''' and ''' + convert(nvarchar,@FundDateFrom) + '''';

	
exec (@TempSQL);
 
Set @TotalRecord = (select COUNT(*) from #TempTable);


Set @TempSQL = 	'select * from #TempTable '
Set @TempSQL = @TempSQL + ' WHERE  IID >= '+ convert(nvarchar,@StartRow)+' AND IID <= ' + convert(nvarchar,@EndRow)


exec (@TempSQL);
GO
