USE [finsoft_save_dc_org_savedc]
GO
/****** Object:  StoredProcedure [dbo].[GetSchoolExpenseStudents]    Script Date: 02/28/2014 17:49:10 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetSchoolExpenseStudents] 
@ExpenseId int,
@SchoolId int
/* with encryption */ 

AS


select StudentId, FirstName, LastName ,ClassName from tblStudents left join tblClasses 
on tblStudents.ClassId = tblClasses.ClassId
where StudentId in

( select distinct StudentId from tblSchoolExpenseDetail where ExpenseId = @ExpenseId union
  select StudentId from tblStudents where SchoolId = @SchoolId	)
GO
