USE [finsoft_save_dc_org_savedc]
GO
/****** Object:  StoredProcedure [dbo].[GetAdminSettingVal]    Script Date: 02/28/2014 17:48:53 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[GetAdminSettingVal] 
@SettingName varchar(50)
/* with encryption */ 

AS

Select * from tblAdminSettings where SettingName = @SettingName

--update tblStudents set DonorId = @DonorId where StudentId  = @StudentId
GO
