USE [finsoft_save_dc_org_savedc]
GO
/****** Object:  StoredProcedure [dbo].[GetUserRoles]    Script Date: 02/28/2014 17:49:18 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetUserRoles]
/* with encryption */ 

AS


	select * from tblUserRoles where RoleName != 'SuperAdmin' and RoleName != 'Donor'
GO
