USE [finsoft_save_dc_org_savedc]
GO
/****** Object:  StoredProcedure [dbo].[GetShourtcutLinks]    Script Date: 02/28/2014 17:49:15 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[GetShourtcutLinks]


/* with encryption */ 

AS

	Select * from tblShortcuts order by DisplayOrder
GO
