USE [finsoft_save_dc_org_savedc]
GO
/****** Object:  StoredProcedure [dbo].[AddBalance]    Script Date: 02/28/2014 17:48:32 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddBalance]
@BalanceId int, 
@ABLbalance decimal(38,2), 
@FBLbalance decimal(38,2)

/* with encryption */ 

AS

	declare @RevValue int;
	Set @RevValue = 0;
	
	if(@BalanceId = 0 or @BalanceId is null)
	begin
		Insert into tblBanksBalances (ABL, FBL)
		Values (@ABLbalance, @FBLbalance)	;
		
		Set @RevValue = @@IDENTITY;
	end
	else
	begin
		Update tblBanksBalances set 
		ABL = @ABLbalance,
		FBL = @FBLbalance
		where BalanceId  = @BalanceId;
		
		Set @RevValue = @BalanceId;
	end
	
	return @RevValue;
GO
