USE [finsoft_save_dc_org_savedc]
GO
/****** Object:  StoredProcedure [dbo].[GetSchoolExpenseReport]    Script Date: 02/28/2014 17:49:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetSchoolExpenseReport]

@PageNo int = 1,
@PageSize int = 10,
@ActionDate nvarchar(50) = null,
@TotalRecord int out
/* with encryption */ 

AS


DECLARE @StartRow int , @EndRow int;

If(@PageNo is null or @PageNo = 0)
begin
	SET @PageNo = 1;
end	

If(@PageSize is null or @PageSize = 0)
	SET @PageSize = (Select COUNT(*) from tblExpenses);
--else
--	SET @PageSize = 10;
	
SET @StartRow = (@PageNo - 1) * @PageSize + 1;
SET @EndRow = @PageNo * @PageSize


Create Table #TempTable
(
IID int IDENTITY PRIMARY KEY,
ExpenseMonth varchar(255),
ExpenseAmount int
)

Declare @TempSQL varchar(1024);
Declare @TempSQL2 varchar(1024);

Set @TempSQL = ' Insert into #TempTable(ExpenseMonth, ExpenseAmount) '
set @TempSQL = @TempSQL + '  select  dbo.FormateDate(Month, 0) as ExpenseMonth , sum(ExpenseAmount) as ExpenseAmount from tblExpenses '

if(@ActionDate is not null and @ActionDate !='')
	Set @TempSQL = @TempSQL + ' where dbo.FormateDate(Month, 0) like ''%' +  @ActionDate + '%'''

Set @TempSQL = @TempSQL + ' group by dbo.FormateDate(Month, 0) '


exec (@TempSQL);
	
Set @TotalRecord = (select COUNT(*) from #TempTable);

Set @TempSQL = 	'select #TempTable.ExpenseMonth, #TempTable.ExpenseAmount from #TempTable '
Set @TempSQL = @TempSQL + ' WHERE  IID >= '+ convert(nvarchar,@StartRow)+' AND IID <= ' + convert(nvarchar,@EndRow)
Set @TempSQL = @TempSQL + ' ORDER BY DATEPART(Year, ExpenseMonth), DATEPART(Month, ExpenseMonth)'

Create Table #TempTable2
(
IID int IDENTITY PRIMARY KEY,
ExpenseMonth varchar(255),
ExpenseAmount int
)

Set @TempSQL2 = ' Insert into #TempTable2(ExpenseMonth, ExpenseAmount) '
set @TempSQL2 = @TempSQL2 + @TempSQL

exec (@TempSQL2);

Set @TempSQL2 = 'select #TempTable2.* from #TempTable2 ORDER BY IID DESC'

exec (@TempSQL2);

drop table #TempTable2
drop table #TempTable
GO
