USE [finsoft_save_dc_org_savedc]
GO
/****** Object:  StoredProcedure [dbo].[GetSchoolIdByEstimationId]    Script Date: 02/28/2014 17:49:10 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetSchoolIdByEstimationId]
@EstimationId int

/* with encryption */ 

AS


select SchoolId from  tblSchoolEstimations  where EstimationId = @EstimationId;
GO
