USE [finsoft_save_dc_org_savedc]
GO
/****** Object:  StoredProcedure [dbo].[GetDonorsForReminder]    Script Date: 02/28/2014 17:49:00 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetDonorsForReminder] 


AS


select DonorId, d.FirstName , d.LastName , d.UserName , d.Email, sum(abs(Amount)) as Amount from tblDonorsExpense 
left join tblUsers d on d.UserId = tblDonorsExpense.DonorId 
where Amount < 0 

and Month(ExpenseMonth) = Month(GETDATE()) and Year(ExpenseMonth) = Year(GETDATE()) 
and IsReminderSent = 0


group by DonorId, d.UserName , d.Email, d.FirstName , d.LastName
GO
