USE [finsoft_save_dc_org_savedc]
GO
/****** Object:  StoredProcedure [dbo].[LogSentSms]    Script Date: 02/28/2014 17:49:33 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LogSentSms] 
@RecipientNum text,
@ParentId int,
@ParentType varchar(3),
@MessageText nvarchar(1000),
@RecipientCount int = 1
/* with encryption */ 

AS

Insert Into tblSentSMS (RecipientNum, ParentId, ParentType , MessageText, RecipientCount) 
values( @RecipientNum, @ParentId, @ParentType , @MessageText, @RecipientCount)




if @@error != 0
	return 0
else
	return 1
GO
