USE [finsoft_save_dc_org_savedc]
GO
/****** Object:  StoredProcedure [dbo].[AddStudentAnnualProgressReport]    Script Date: 02/28/2014 17:48:39 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddStudentAnnualProgressReport]
@ReportId int = 0,
@StudentId int,
@Year int,
@Note nvarchar(1024),
@ReportGUID nvarchar(50),
@AddedBy int
/* with encryption */ 

AS

	declare @SchoolId int
	set @SchoolId = ( Select SchoolId from tblStudents where StudentId  = @StudentId ) 

	declare @RevValue int;
	Set @RevValue = 0;
	
	if(@ReportId = 0 or @ReportId is null)
	begin
		if exists(select * from tblAnnualProgressReports where StudentId = @StudentId and  [Year] = @Year)
		Set @RevValue = (select ReportId from  tblAnnualProgressReports where StudentId = @StudentId and [Year] = @Year)
		else
		begin	
			Insert into tblAnnualProgressReports( StudentId, SchoolId, [Year], Note,  ReportGUID, AddedBy)
			Values( @StudentId ,@SchoolId, @Year, @Note, @ReportGUID, @AddedBy) 
			Set @RevValue = @@IDENTITY;
		end	
	end
	else
	begin
		Update tblAnnualProgressReports
		set 
		 [Year] =  @Year,
		 Note = @Note, 
		 ReportGUID = @ReportGUID,
		 AddedBy =@AddedBy
		where   ReportId = @ReportId
		
		Set @RevValue = @ReportId;
	end
	
	return @RevValue;
GO
