USE [finsoft_save_dc_org_savedc]
GO
/****** Object:  StoredProcedure [dbo].[AddFamily]    Script Date: 02/28/2014 17:48:34 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddFamily]
@FamilyId int = 0 ,      
@DisplayName nvarchar(255) = null ,      
-- parents detail.
@FatherName nvarchar(255) = null ,       
@MotherName nvarchar(255) = null ,      
@IsFatherAlive bit = 1 ,      
@IsMotherAlive bit = 1 ,      
@FatherAge int = 0 ,      
@MotherAge int = 0 ,         
@FatherOccu nvarchar(255) = null ,      
@MotherOccu nvarchar(255) = null ,      
@IsDivorced bit = 0 ,        
@DivorcedPeriod int = 0 ,     
@FatherLocation nvarchar(255) = null ,
       
@Gardian int = 0 ,         -- 0 for father and 1 for mother.

@FatherCNIC nvarchar(255) = null ,      
@MotherCNIC nvarchar(255) = null ,       

-- contact details.
@CurResAddress nvarchar(255) = null ,      
@PermResAddress nvarchar(255) = null ,      
@LandlineNumber nvarchar(255) = null ,       
@CellNumber nvarchar(255) = null ,        

-- member details.     
@MaleMembers int = 0 ,       
@FemaleMembers int = 0 ,        
@MemberDetail nvarchar(255) = null ,       

-- living detail.                            
@HouseArea int = 0 ,         
@HouseRooms int = 0 ,   
@IsHouseOwner bit = 0 ,        
@LivingPeriod int = 0 ,        
@FamilyIncome int = 0 ,         

-- other
@Note nvarchar(512) = null ,
@Bill1GUID nvarchar(50) = null ,
@Bill2GUID nvarchar(50) = null ,

@Cert1GUID nvarchar(50) = null ,
@Cert2GUID nvarchar(50) = null 
/* with encryption */ 

AS

	declare @RevValue int;
	Set @RevValue = 0;
	
	if(@FamilyId = 0 or @FamilyId is null)
	begin
	
		If exists (Select * from tblFamilies where DisplayName = @DisplayName) 
			Set @RevValue =  -1; -- family already exists ...
		else
		begin
			Insert into tblFamilies 
			(
			DisplayName ,      
			FatherName ,       
			MotherName ,      
			IsFatherAlive ,      
			IsMotherAlive ,      
			FatherAge ,      
			MotherAge ,       
			FatherOccu ,      
			MotherOccu ,      
			IsDivorced ,      
			DivorcedPeriod ,      
			FatherLocation ,       
			Gardian ,   
			FatherCNIC ,      
			MotherCNIC ,       
			CurResAddress ,      
			PermResAddress ,      
			LandlineNumber ,       
			CellNumber ,           
			MaleMembers ,       
			FemaleMembers ,       
			MemberDetail ,       
			HouseArea ,       
			HouseRooms ,      
			IsHouseOwner ,       
			LivingPeriod ,        
			FamilyIncome ,        
			Note ,
			Bill1GUID,
			Bill2GUID, 
			Cert1GUID, 
			Cert2GUID
			)
			Values 
			(
			@DisplayName ,      
			@FatherName ,       
			@MotherName ,      
			@IsFatherAlive ,      
			@IsMotherAlive ,      
			@FatherAge ,      
			@MotherAge ,       
			@FatherOccu ,      
			@MotherOccu ,      
			@IsDivorced ,      
			@DivorcedPeriod ,      
			@FatherLocation ,       
			@Gardian ,   
			@FatherCNIC ,      
			@MotherCNIC ,       
			@CurResAddress ,      
			@PermResAddress ,      
			@LandlineNumber ,       
			@CellNumber ,           
			@MaleMembers ,       
			@FemaleMembers ,       
			@MemberDetail ,       
			@HouseArea ,       
			@HouseRooms ,      
			@IsHouseOwner ,       
			@LivingPeriod ,        
			@FamilyIncome ,        
			@Note ,
			@Bill1GUID,
			@Bill2GUID, 
			@Cert1GUID, 
			@Cert2GUID
			)	;
			Set @RevValue = @@IDENTITY;
		end	
	end
	else
	begin
		Update tblFamilies set 
		DisplayName = @DisplayName ,      
		FatherName = @FatherName ,       
		MotherName = @MotherName ,      
		IsFatherAlive = @IsFatherAlive ,      
		IsMotherAlive = @IsMotherAlive ,      
		FatherAge = @FatherAge ,      
		MotherAge = @MotherAge ,       
		FatherOccu = @FatherOccu ,      
		MotherOccu = @MotherOccu ,      
		IsDivorced = @IsDivorced ,      
		DivorcedPeriod = @DivorcedPeriod ,      
		FatherLocation = @FatherLocation ,       
		Gardian = @Gardian ,   
		FatherCNIC = @FatherCNIC ,      
		MotherCNIC = @MotherCNIC ,       
		CurResAddress = @CurResAddress ,      
		PermResAddress = @PermResAddress ,      
		LandlineNumber = @LandlineNumber ,       
		CellNumber = @CellNumber ,           
		MaleMembers = @MaleMembers ,       
		FemaleMembers = @FemaleMembers ,       
		MemberDetail = @MemberDetail ,       
		HouseArea = @HouseArea ,       
		HouseRooms = @HouseRooms ,      
		IsHouseOwner = @IsHouseOwner ,       
		LivingPeriod = @LivingPeriod ,        
		FamilyIncome = @FamilyIncome ,        
		Note = @Note ,
		Bill1GUID = @Bill1GUID,
		Bill2GUID = @Bill2GUID,
		Cert1GUID = @Cert1GUID, 
		Cert2GUID =	@Cert2GUID
		
		where FamilyId = @FamilyId;
		
		Set @RevValue = @FamilyId;
	end
	
	return @RevValue;
GO
