USE [finsoft_save_dc_org_savedc]
GO
/****** Object:  StoredProcedure [dbo].[LoadAllExpenses]    Script Date: 02/28/2014 17:49:20 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LoadAllExpenses] 
@ExpensePayee varchar(50) = null,
@PostedOnDate varchar(50) = null,
@FromDate date,
@ToDate Date,

@PageNo int = 1,
@PageSize int = 10,
@TotalRecord int out

/* with encryption */ 

AS




DECLARE @StartRow int , @EndRow int;

If(@PageNo is null or @PageNo = 0)
begin
	SET @PageNo = 1;
end	

If(@PageSize is null or @PageSize = 0)
	SET @PageSize = (Select COUNT(*) from tblExpenses);
--else
--	SET @PageSize = 10;
	
SET @StartRow = (@PageNo - 1) * @PageSize + 1;
SET @EndRow = @PageNo * @PageSize


Create Table #TempTable
(
IID int IDENTITY PRIMARY KEY,
ExpenseId int
)



Declare @TempSQL varchar(1024);

Set @TempSQL = 'Insert into #TempTable(ExpenseId) '
Set @TempSQL = @TempSQL + ' select ExpenseId from tblExpenses where 1 = 1'

if(@ExpensePayee is not null and @ExpensePayee != '' )
	Set @TempSQL = @TempSQL + ' And ExpensePayee  like ''%' + @ExpensePayee + '%''';

if(@PostedOnDate is not null and @PostedOnDate != '' )
	Set @TempSQL = @TempSQL + ' And dbo.FormateDate( ActionDate ,1 )  like ''%' + @PostedOnDate + '%''';

Set @TempSQL = @TempSQL + ' Order by ActionDate desc'

exec (@TempSQL);
 
Set @TotalRecord = (select COUNT(*) from #TempTable);



Set @TempSQL = 	'select tblExpenses.*, dbo.FormateDate(tblExpenses.Month, 2) as ExpenseMonthFormatted, dbo.FormateDate( ActionDate, 1) as ActionDateFormatted, tblBanks.BankName, (case when PaymentMode = 1 then ''Cheque'' else ''Cash'' end) as PayMode from tblExpenses inner join #TempTable on tblExpenses.ExpenseId = #TempTable.ExpenseId  '
Set @TempSQL = @TempSQL + ' inner join tblBanks on tblExpenses.BankId = tblBanks.BankId '
Set @TempSQL = @TempSQL + ' WHERE  IID >= '+ convert(nvarchar,@StartRow)+' AND IID <= ' + convert(nvarchar,@EndRow)
Set @TempSQL = @TempSQL + ' order by ActionDate desc; '
exec (@TempSQL);
GO
