USE [finsoft_save_dc_org_savedc]
GO
/****** Object:  StoredProcedure [dbo].[AdjustDonation]    Script Date: 02/28/2014 17:48:43 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AdjustDonation]
@DonorId int

/* with encryption */ 

AS
	
	Declare @TotalFunds decimal (38,2);
	Set @TotalFunds = (select isnull(SUM(f.TotalAmount),0) from tblDonorsFunds f where f.DonorId = @DonorId);
	
	print @TotalFunds
	
	-- subtract the already adjusted amount
	Set @TotalFunds = @TotalFunds - isnull( (Select SUM(Amount) from tblDonorsExpense where DonorId = @DonorId and Amount > 0),0)
	
	print @TotalFunds
	
	Declare @CurDonorExpId int, @ExpAmount decimal (38,2);
	DECLARE Adj_Cursor CURSOR FOR  
	select DonorExpenseId, Amount from tblDonorsExpense f where f.DonorId = @DonorId and Amount < 0 order by
	ExpenseMonth asc;
	

	OPEN Adj_Cursor   
	FETCH NEXT FROM Adj_Cursor INTO 
	@CurDonorExpId, @ExpAmount

	WHILE @@FETCH_STATUS = 0  and @TotalFunds > 0 
	BEGIN   
		   
		   Declare @NewAmount decimal(38,3);
		   
		   set @TotalFunds = @ExpAmount + @TotalFunds;
		  
		   print @TotalFunds
		   
		   if(@TotalFunds >= 0)
		      update tblDonorsExpense set Amount = ( Amount* -1 ) where DonorExpenseId = @CurDonorExpId
		   --else
		   --   update tblDonorsExpense set Amount =  @TotalFunds where DonorExpenseId = @CurDonorExpId
		   
		   
		   FETCH NEXT FROM Adj_Cursor INTO @CurDonorExpId, @ExpAmount
	END   

	CLOSE Adj_Cursor   
	DEALLOCATE Adj_Cursor
GO
