USE [finsoft_save_dc_org_savedc]
GO
/****** Object:  StoredProcedure [dbo].[AddDonorExpense]    Script Date: 02/28/2014 17:48:32 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddDonorExpense]
--@DonorId int

/* with encryption */ 

AS
	
	Declare @ExpenseAmount decimal (38,2)
	set @ExpenseAmount = (select SettingValue from tblAdminSettings where SettingName = 'FlatExpAmount')
	
	Declare @DonorId int, @StdCount int
	DECLARE Exp_Cursor CURSOR FOR  
	
	SELECT DonorId, count(StudentId) StudentCount from tblStudents 
	where DonorId is not null and DonorId > 0 group by DonorId
	--select u.UserId from tblUsers u where u.UserRoleId = 4

	OPEN Exp_Cursor   
	FETCH NEXT FROM Exp_Cursor INTO 
	@DonorId,@StdCount

	WHILE @@FETCH_STATUS = 0  
	BEGIN   
		   
			if not exists (select * from tblDonorsExpense where DonorId = @DonorId and 
			Month(ExpenseMonth) = Month(GETDATE()) and Year(ExpenseMonth) = Year(GETDATE()) )
			begin
				Insert into tblDonorsExpense (DonorId, Amount, TotalStudent)
				Values (@DonorId ,(@ExpenseAmount * @StdCount * -1), @StdCount )
			
				-- adjust funds/expenses
				exec AdjustDonation @DonorId;
			end
		   
			FETCH NEXT FROM Exp_Cursor INTO @DonorId,@StdCount
	END   

	CLOSE Exp_Cursor   
	DEALLOCATE Exp_Cursor
GO
