USE [finsoft_save_dc_org_savedc]
GO
/****** Object:  StoredProcedure [dbo].[LoadSchool]    Script Date: 02/28/2014 17:49:26 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LoadSchool]
@SchoolId int
/* with encryption */ 

AS


	select * from tblSchools where SchoolId = @SchoolId;
GO
