USE [finsoft_save_dc_org_savedc]
GO
/****** Object:  StoredProcedure [dbo].[DeleteFund]    Script Date: 02/28/2014 17:48:47 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteFund] 
@FundId int
/* with encryption */ 

AS


delete from tblDonorsFunds where FundId = @FundId  

--update tblDonorsFunds set IsDeleted = 1 where FundId = @FundId  
	if @@error != 0
		return 0
	else
		return 1
GO
