USE [finsoft_save_dc_org_savedc]
GO
/****** Object:  StoredProcedure [dbo].[AddStudent]    Script Date: 02/28/2014 17:48:38 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddStudent]
@StudentId int = 0,
@FirstName varchar (255),
@LastName varchar (255), 
@DOB  date , 
@EducationalLevel  varchar (255), 
@ImageGUID  varchar (255), 
@Note varchar (512),

@SchoolId int  = 0 ,        
@HistoryId int  = 0 ,       
@FamilyId int  = 0 ,        
@DonorId int  = 0 ,        
@ClassId int  = 0       


/* with encryption */ 

AS

	--if(@HistoryId is not null and @HistoryId != 0)
	--	set @ClassId = (select ClassDoingStudyIn from tblStudentHistory where HistoryId = @HistoryId)

	declare @RevValue int;
	Set @RevValue = 0;
	
	if(@StudentId = 0 or @StudentId is null)
	begin
	
		If exists (Select * from tblStudents where StudentId = @StudentId) 
			Set @RevValue =  -1; 
		else
		begin
		
			Insert into tblStudents
			(
				FirstName,
				LastName , 
				DOB , 
				EducationalLevel , 
				Note ,
				StatusId,
				HistoryId, ClassId, FamilyId, ImageGUID
			 )
			Values 
			(
				@FirstName,
				@LastName , 
				@DOB , 
				@EducationalLevel , 
				@Note ,
				1,
				@HistoryId, @ClassId, @FamilyId, @ImageGUID
			)	;
			Set @RevValue = @@IDENTITY;
		end	
	end
	else
	begin
		Update tblStudents set 
			FirstName = @FirstName,
			LastName = @LastName, 
			DOB = @DOB, 
			EducationalLevel =@EducationalLevel, 
			Note = @Note,
			ClassId = @ClassId,
			FamilyId = @FamilyId,
			ImageGUID = @ImageGUID
		where StudentId = @StudentId;
		
		Set @RevValue = @StudentId;
	end
	
	return @RevValue;
GO
