USE [finsoft_save_dc_org_savedc]
GO
/****** Object:  StoredProcedure [dbo].[DeleteStudentAnnualProgressReport]    Script Date: 02/28/2014 17:48:50 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[DeleteStudentAnnualProgressReport]
@ReportId int
/* with encryption */ 

AS

delete from tblAnnualProgressReports where ReportId = @ReportId;
	
if @@error != 0
begin
	return 0;
end	
else
begin
	return 1;
end
GO
