USE [finsoft_save_dc_org_savedc]
GO
/****** Object:  StoredProcedure [dbo].[DeleteBalance]    Script Date: 02/28/2014 17:48:46 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteBalance] 
@BalanceId int
/* with encryption */ 

AS


delete from tblBanksBalances where BalanceId = @BalanceId  

	if @@error != 0
		return 0
	else
		return 1
GO
