USE [finsoft_save_dc_org_savedc]
GO
/****** Object:  StoredProcedure [dbo].[GetExpenseDetails]    Script Date: 02/28/2014 17:49:03 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetExpenseDetails]
@ExpenseId int
/* with encryption */ 

AS

	select e.*, b.BankName , 
	(select UserName from tblUsers d where d.UserId = e.PostedBy) as PostedByName
	from tblExpenses e left join tblBanks b on
	 b.BankId = e.BankId  where ExpenseId  = @ExpenseId;
GO
