USE [finsoft_save_dc_org_savedc]
GO
/****** Object:  StoredProcedure [dbo].[DeleteFamily]    Script Date: 02/28/2014 17:48:47 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteFamily]
@FamilyId int
/* with encryption */ 

AS

delete from tblFamilies where FamilyId = @FamilyId

	if @@error != 0
		return 0
	else
		return 1
GO
