USE [finsoft_save_dc_org_savedc]
GO
/****** Object:  StoredProcedure [dbo].[AddSchool]    Script Date: 02/28/2014 17:48:37 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddSchool]
@SchoolId int = 0,
@SchoolName varchar (255),
@PrincipalName varchar (255), 
@SocialOrganizerName  varchar (255), 
@Address  varchar (255), 
@Email  varchar (255), 
@PhoneNum  varchar (255), 
@Notes  varchar (255)

/* with encryption */ 

AS

	declare @RevValue int;
	Set @RevValue = 0;
	
	if(@SchoolId = 0 or @SchoolId is null)
	begin
	
		If exists (Select * from tblSchools where SchoolName = @SchoolName and IsDeleted != 1) 
			Set @RevValue =  -1; -- school already exists ...
		else
		begin
			Insert into tblSchools (SchoolName, PrincipalName, SocialOrganizerName, Email, Address  , PhoneNum, Notes)
			Values (@SchoolName, @PrincipalName , @SocialOrganizerName, @Email , @Address , @PhoneNum, @Notes)	;
			Set @RevValue = @@IDENTITY;
		end	
	end
	else
	begin
		Update tblSchools set 
		SchoolName = @SchoolName,
		PrincipalName = @PrincipalName,
		SocialOrganizerName = @SocialOrganizerName,
		Address = @Address,
		Email = @Email, 
		PhoneNum = @PhoneNum,
		Notes = @Notes 
		where SchoolId = @SchoolId;
		
		Set @RevValue = @SchoolId;
	end
	
	return @RevValue;
GO
