USE [finsoft_save_dc_org_savedc]
GO
/****** Object:  StoredProcedure [dbo].[AddExpense]    Script Date: 02/28/2014 17:48:33 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddExpense]

@ExpenseId int = null,
@SchoolId int = null,
@Month date,
@ExpenseType int,
@ExpensePayee varchar(255),
@ExpenseAmount decimal(38,2),
@ExpenseDetail nvarchar(1000),

@PaymentMode int ,
@BankId int,
@BenefiName nvarchar (250), 
@ChequeNum  nvarchar (50),
@Note nvarchar(255),
@FileNum nvarchar(255),
@VoucherNum nvarchar(255),

@PostedBy int

/* with encryption */ 

AS

	declare @RevValue int;
	Set @RevValue = 0;
	
	if(@ExpenseId = 0 or @ExpenseId is null)
	begin
		Insert into tblExpenses
		 (SchoolId, [Month], ExpenseType, ExpensePayee, ExpenseAmount,
		 ExpenseDetail, PaymentMode, BankId, ChequeNum, BenefiName, Note, PostedBy,FileNum, VoucherNum)
		 
		Values (@SchoolId, @Month, @ExpenseType, @ExpensePayee, @ExpenseAmount,
		 @ExpenseDetail, @PaymentMode, @BankId, @ChequeNum, @BenefiName, @Note, @PostedBy, @FileNum, @VoucherNum)	;
		Set @RevValue = @@IDENTITY;
	end
	else
	begin
		Update tblExpenses set 
		SchoolId = @SchoolId,
		[Month] =@Month,
		ExpenseType =@ExpenseType,
		ExpensePayee =@ExpensePayee,
		ExpenseAmount=@ExpenseAmount,
		ExpenseDetail= @ExpenseDetail,
			
		PaymentMode = @PaymentMode, 
		BankId = @BankId, 
		ChequeNum = @ChequeNum, 
		BenefiName = @BenefiName, 
		Note = @Note,
		PostedBy = @PostedBy,
		FileNum = @FileNum, 
		VoucherNum = @VoucherNum
		
		where ExpenseId  = @ExpenseId;
		
		Set @RevValue = @ExpenseId;
	end
	
	return @RevValue;
GO
