USE [finsoft_save_dc_org_savedc]
GO
/****** Object:  StoredProcedure [dbo].[GetSchoolMonthlyExpenseReportDetail]    Script Date: 02/28/2014 17:49:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetSchoolMonthlyExpenseReportDetail]
@SchoolName varchar (255) = null,
@ExpenseMonth varchar (255),

@PageNo int = 1,
@PageSize int = 10,
@TotalRecord int out
/* with encryption */ 

AS


DECLARE @StartRow int , @EndRow int;

If(@PageNo is null or @PageNo = 0)
begin
	SET @PageNo = 1;
end	

If(@PageSize is null or @PageSize = 0)
	SET @PageSize = (Select COUNT(*) from tblExpenses);
--else
--	SET @PageSize = 10;
	
SET @StartRow = (@PageNo - 1) * @PageSize + 1;
SET @EndRow = @PageNo * @PageSize


Create Table #TempTable
(
IID int IDENTITY PRIMARY KEY,
SchoolName varchar(255),
PaymentMode varchar(50),
TotalExpenses decimal(38,2),
BankName varchar(255),
PaymentDate varchar(255),
)

Declare @TempSQL varchar(1024);

Set @TempSQL = ' Insert into #TempTable(SchoolName, PaymentMode, TotalExpenses, BankName, PaymentDate) '
set @TempSQL = @TempSQL + '  select ExpensePayee, (case when PaymentMode = 1 then ''Cheque'' else 
''Cash'' end) as PaymentMode,  ExpenseAmount as TotalExpenses, (select BankName from tblBanks where tblBanks.BankId = tblExpenses.BankId) as BankName, dbo.FormateDate( ActionDate, 1)  from tblExpenses where ' 

if(@SchoolName is not null and @SchoolName != '')
	set @TempSQL =  @TempSQL + ' ExpensePayee like ''%'+ @SchoolName +'%'''	

set @TempSQL =  @TempSQL + ' dbo.FormateDate(Month, 0) like ''%' +  @ExpenseMonth + '%'''

exec (@TempSQL);
	
Set @TotalRecord = (select COUNT(*) from #TempTable);

Set @TempSQL = 	'select #TempTable.* from #TempTable '
Set @TempSQL = @TempSQL + ' WHERE  IID >= '+ convert(nvarchar,@StartRow)+' AND IID <= ' + convert(nvarchar,@EndRow)
+ 'order by #TempTable.SchoolName asc '
exec (@TempSQL);
GO
