<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="aspnet:MaxHttpCollectionKeys" value="2001" />
    <!-- Database -->
    <add key="DbServer" value="localhost" />
    <add key="Catalog" value="SaveDC" />
    <add key="UID" value="savedc" />
    <add key="PWD" value="savedc" />
    <add key="MessageFilePath" value="D:\My Programs\My Websites\save-dc.org\finsoft.save-dc.org\www\ControlPanel\Errors" />
    <add key="ErrorLogFilePath" value="D:\My Programs\My Websites\save-dc.org\finsoft.save-dc.org\www\ControlPanel\Logs" />
    <add key="MailBodyPath" value="D:\My Programs\My Websites\save-dc.org\finsoft.save-dc.org\www\ControlPanel\EmailTemplate\Email.txt" />
    <add key="DonationMailBodyPath" value="D:\My Programs\My Websites\save-dc.org\finsoft.save-dc.org\www\ControlPanel\EmailTemplate\DonationAddedEmail.txt" />
    <add key="PRMailBodyPath" value="D:\My Programs\My Websites\save-dc.org\finsoft.save-dc.org\www\ControlPanel\EmailTemplate\PRAddedEmail.txt" />
    <add key="StudentMailBodyPath" value="D:\My Programs\My Websites\save-dc.org\finsoft.save-dc.org\www\ControlPanel\EmailTemplate\StudentAddedEmail.txt" />
    <!--<add key="DbServer" value="74.86.133.56"/>
    <add key="Catalog" value="finsoft_save_dc_org_savedc"/>
    <add key="UID" value="finsoft_save_dc_org_savedc"/>
    <add key="PWD" value="savedc"/>-->
    <!--
    <add key="MessageFilePath" value="e:\web\haider\sohail\finsoft.save-dc.org\www\ControlPanel\Errors" />
    <add key="ErrorLogFilePath" value="e:\web\haider\sohail\finsoft.save-dc.org\www\ControlPanel\Logs" />

    <add key="MailBodyPath" value="e:\web\haider\sohail\finsoft.save-dc.org\www\ControlPanel\EmailTemplate\Email.txt" />
    <add key="DonationMailBodyPath" value="e:\web\haider\sohail\finsoft.save-dc.org\www\ControlPanel\EmailTemplate\DonationAddedEmail.txt" />
    <add key="PRMailBodyPath" value="e:\web\haider\sohail\finsoft.save-dc.org\www\ControlPanel\EmailTemplate\PRAddedEmail.txt" />
    <add key="StudentMailBodyPath" value="e:\web\haider\sohail\finsoft.save-dc.org\www\ControlPanel\EmailTemplate\StudentAddedEmail.txt" />
    -->
    <add key="MailSendReminders" value="false" />
    <add key="MailSMTPHost" value="mail.save-dc.org" />
    <add key="MailSMTPPort" value="366" />
    <add key="MailFromAddressInfo" value="info@save-dc.org" />
    <add key="MailFromPwdInfo" value="Moonazhar@12345" />
    <add key="MailFromAddressAccounts" value="accounts@save-dc.org" />
    <add key="MailFromPwdAccount" value="Azharmoon@12345" />
    <add key="MailSubject" value="Save DC Donation Reminder..." />
    <add key="MarkitingSMSTop" value="Dear Member" />
    <add key="MarkitingSMSBottom" value="Plz do not reply to this SMS. Regards, SAVE DC SMS Service http://save-dc.org" />
    <add key="SMSSender" value="SAVE DC" />
  </appSettings>
  <connectionStrings />
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <!--<add assembly="Microsoft.ReportViewer.WebForms, Version=8.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=8.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>-->
        <!--<add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>-->
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="ControlPanel/Login.aspx" protection="All" timeout="30" name="UserName" path="/ControlPanel" />
    </authentication>
    <authorization>
      <allow users="*" />
    </authorization>
    <sessionState mode="InProc" cookieless="false" timeout="30" />
    <httpModules>
      <!--<add type="QueryStringModule,SaveDC" name="QueryStringModule"/>-->
    </httpModules>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"><controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls></pages>
  </system.web>
  <location path="ControlPanel">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <handlers>
      <!--<add name="QueryStringModule" path="/ControlPanel/*.aspx" verb="*" type="QueryStringModule,SaveDC" resourceType="Unspecified" preCondition="integratedMode" />-->
    </handlers>
  </system.webServer>
  <startup>
    <supportedRuntime version="v2.0.50727" />
  </startup>
</configuration>