/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2017 (14.0.1000)
    Source Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/

USE [SaveDC]
GO
/****** Object:  StoredProcedure [dbo].[GetFamiliesList]    Script Date: 12/9/2021 4:20:12 AM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO





ALTER PROCEDURE [dbo].[GetFamiliesListForExcelReport]
@FamilyName varchar (255) = null,
@FatherName varchar (255) = null,
@PageNo int = 1,
@PageSize int = 10,
@TotalRecord int out
/* with encryption */ 

AS


DECLARE @StartRow int , @EndRow int;

If(@PageNo is null or @PageNo = 0)
begin
	SET @PageNo = 1;
end	

If(@PageSize is null or @PageSize = 0)
	SET @PageSize = (Select COUNT(*) from tblFamilies);
--else
--	SET @PageSize = 10;
	
SET @StartRow = (@PageNo - 1) * @PageSize + 1;
SET @EndRow = @PageNo * @PageSize


Create Table #TempTable
(
IID int IDENTITY PRIMARY KEY,
TableRecID int
)

Declare @TempSQL varchar(512);

Set @TempSQL = ' Insert into #TempTable(TableRecID) 	select FamilyId from tblFamilies where 1=1 ' ;
 
 if(@FamilyName is not null and @FamilyName != '')
	Set @TempSQL = @TempSQL + ' and DisplayName like  ''%'+ @FamilyName +'%''';
	
 if(@FatherName is not null and @FatherName != '')
	Set @TempSQL = @TempSQL + ' and FatherName like  ''%'+ @FatherName +'%''';

Set @TempSQL = @TempSQL + ' ORDER BY DisplayName ' ;

 exec (@TempSQL);
 
 Set @TotalRecord = (select COUNT(*) from #TempTable);
	
	
Set @TempSQL = 	'Select DisplayName as [Family Name],FatherName as [Father Name],MotherName as [Mother Name],CellNumber as [Contact Number], 
isnull((select count(*) from tblStudents where FamilyId  = #TempTable.TableRecID and IsDeleted is not null and IsDeleted !=1), 0) as  [Total Students]
 from tblFamilies inner join #TempTable on tblFamilies.FamilyId = #TempTable.TableRecID '
Set @TempSQL = @TempSQL + ' WHERE  IID >= '+ convert(nvarchar,@StartRow)+' AND IID <= ' + convert(nvarchar,@EndRow)
exec (@TempSQL);	