/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2017 (14.0.1000)
    Source Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/

USE [SaveDC]
GO
/****** Object:  StoredProcedure [dbo].[AddUser]    Script Date: 12/7/2021 2:43:59 AM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROCEDURE [dbo].[prAddEmployee]
@EmployeeId int = 0,
@EmployeeName varchar(255),
@FirstName  varchar (255), 
@LastName  varchar (255), 
@Email  varchar (500), 
@DOB date,
@PhoneNumber  varchar (255), 
@Gender varchar(1) = 1,
@CNIC  varchar (50), 
@Department  varchar (255), 
@Designation  varchar (255), 
@Note  varchar (max), 
@Address varchar (max)

/* with encryption */ 

AS

	declare @RevValue int;
	Set @RevValue = 0;
	
	if(@EmployeeId = 0 or @EmployeeId is null)
	begin
	
		If exists (Select * from dbo.tblEmployees te where te.EmployeeName = @EmployeeName AND Replace(te.CNIC,'-','') = Replace(@CNIC,'-','') and te.isActive = 1) 
			Set @RevValue =  -1; -- user already exists ...
		else
		begin
			INSERT INTO dbo.tblEmployees
			(
			    --EmployeeId - column value is auto-generated
			    EmployeeName,
			    FirstName,
			    LastName,
			    UserCategoryId,
			    PhoneNumber,
			    DOB,
			    Address,
			    Email,
			    Salary,
			    Designation,
			    Department,
			    isActive,
			    CNIC,
			    Gender,
			    Notes
			)
			VALUES
			(
			    -- EmployeeId - int
			    @EmployeeName, -- EmployeeName - varchar
			    @FirstName, -- FirstName - varchar
			    @LastName, -- LastName - varchar
			    NULL, -- UserCategoryId - int
			    @PhoneNumber, -- PhoneNumber - varchar
			    @DOB, -- DOB - date
			    @Address, -- Address - varchar
			    @Email, -- Email - varchar
			    NULL, -- Salary - int
			    @Designation, -- Designation - varchar
			    @Department, -- Department - varchar
			    1, -- isActive - bit
			    @CNIC, -- CNIC - varchar
			    @Gender, -- Gender - varchar
			    @Note -- Notes - varchar
			)
			Set @RevValue = @@IDENTITY;
		end	
	end
	else
	begin
		UPDATE dbo.tblEmployees
		SET
		    --EmployeeId - column value is auto-generated
		    dbo.tblEmployees.EmployeeName = @EmployeeName, -- varchar
		    dbo.tblEmployees.FirstName = @FirstName, -- varchar
		    dbo.tblEmployees.LastName = @LastName, -- varchar
		    dbo.tblEmployees.PhoneNumber = @PhoneNumber, -- varchar
		    dbo.tblEmployees.DOB = @DOB, -- date
		    dbo.tblEmployees.[Address] = @Address, -- varchar
		    dbo.tblEmployees.Email = @Email, -- varchar
		    dbo.tblEmployees.Designation = @Designation, -- varchar
		    dbo.tblEmployees.Department = @Department, -- varchar
		    dbo.tblEmployees.CNIC = @CNIC, -- varchar
		    dbo.tblEmployees.Gender = @Gender, -- varchar
		    dbo.tblEmployees.Notes = @Note -- varcharployees
		WHERE
		EmployeeId = @EmployeeId AND isActive = 1

		SET @RevValue = @EmployeeId;
	end
	
	return @RevValue;