/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2017 (14.0.1000)
    Source Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/

USE [SaveDC]
GO
/****** Object:  StoredProcedure [dbo].[GetApplicationsList]    Script Date: 12/9/2021 1:19:46 AM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO





Create PROCEDURE [dbo].[GetApplicationsForExcelReport]

/* with encryption */ 

AS

SELECT
StdFirstName + ' ' + StdLastName AS [Student Name]
,GuardianName AS [Guardian Name]
,ApplicantName AS [Applicant Name]
,ReferredBy AS [Referred By]
,ApplicationCategory AS [Category]
,[dbo].FormateDate(ReceivedOn, 1) as [Receiving Date]
from  tblNewApplications

