/*
   Tuesday, December 7, 20211:58:03 AM
   User: sa
   Server: EWORXLAP-347
   Database: SaveDC
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.tblEmployees ADD
	CNIC varchar(50) NULL,
	Gender varchar(1) NULL,
	Notes varchar(MAX) NULL
GO
ALTER TABLE dbo.tblEmployees SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
