/*
   Monday, December 6, 20213:11:04 AM
   User: sa
   Server: EWORXLAP-347
   Database: SaveDC
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.tblEmployees ADD
	FirstName varchar(255) NULL,
	LastName varchar(255) NULL,
	UserCategoryId int NULL,
	PhoneNumber varchar(255) NULL,
	DOB date NULL,
	Address varchar(MAX) NULL,
	Email varchar(500) NULL,
	Salary int NULL,
	Designation varchar(255) NULL,
	Department varchar(255) NULL,
	isActive bit NULL
GO
ALTER TABLE dbo.tblEmployees SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
