USE [SaveDC]
GO
/****** Object:  StoredProcedure [dbo].[GetDonationsReport]    Script Date: 02/28/2014 17:43:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetDonationsReport] 
@DonorName varchar (255) = null,

@PageNo int = 1,
@PageSize int = 10,
@TotalRecord int out
/* with encryption */ 

AS


DECLARE @StartRow int , @EndRow int;

If(@PageNo is null or @PageNo = 0)
begin
	SET @PageNo = 1;
end	

If(@PageSize is null or @PageSize = 0)
	SET @PageSize = (Select COUNT(*) from tblDonorsExpense);
--else
--	SET @PageSize = 10;
	
SET @StartRow = (@PageNo - 1) * @PageSize + 1;
SET @EndRow = @PageNo * @PageSize


Create Table #TempTable
(
IID int IDENTITY PRIMARY KEY,
DonorId int,
DonorName varchar(255),
FirstName varchar(255),
LastName varchar(255),
PhoneNum varchar(50),
TotalDonations  decimal(38,2),
AmountUsed  decimal(38,2),
Balnace  decimal(38,2),
TotalStudents int
)

Declare @TempSQL varchar(2048);

Set @TempSQL = ' Insert into #TempTable(DonorId, DonorName, FirstName, LastName, PhoneNum, TotalDonations, AmountUsed, Balnace, TotalStudents) '
set @TempSQL = @TempSQL + ' select 	DonorId ,  DonorName, FirstName, LastName, PhoneNum, TotalDonations, AmountUsed,  (TotalDonations - AmountUsed) as Balnace, '
set @TempSQL = @TempSQL + ' TotalStudents from  ( Select dx.UserId as DonorId , dx.UserName as DonorName, dx.FirstName , dx.LastName , dx.PhoneNum , '
 set @TempSQL = @TempSQL + ' isnull((select sum(f.TotalAmount)  from tblDonorsFunds f where f.IsDeleted ! = 1 and f.DonorId = dx.UserId '
set @TempSQL = @TempSQL + ' ),0) as TotalDonations, isnull((select sum(ABS(Amount)) from tblDonorsExpense  '
set @TempSQL = @TempSQL + '  where DonorId = dx.UserId '
set @TempSQL = @TempSQL + ' ),0) as AmountUsed, isnull((select COUNT(*) from tblStudents where DonorId = dx.UserId and IsDeleted != 1),0) '

set @TempSQL = @TempSQL + ' as TotalStudents  from tblUsers as dx where dx.IsDeleted !=1 '

if(@DonorName is not null and @DonorName != '')
	set @TempSQL = @TempSQL + ' and dx.UserName like  ''%'+ @DonorName +'%''  '

set @TempSQL = @TempSQL + ' and dx.UserRoleId = 4  )	as T1 '
	

exec (@TempSQL);
 
Set @TotalRecord = (select COUNT(*) from #TempTable);


Set @TempSQL = 	'select * from #TempTable '
Set @TempSQL = @TempSQL + ' WHERE  IID >= '+ convert(nvarchar,@StartRow)+' AND IID <= ' + convert(nvarchar,@EndRow) + ' ORDER BY DonorName'
exec (@TempSQL);
GO
