USE [SaveDC]
GO
/****** Object:  StoredProcedure [dbo].[LoadStudentSchoolEstimationDetails]    Script Date: 02/28/2014 17:43:19 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LoadStudentSchoolEstimationDetails] 
@EstimationId int
/* with encryption */ 

AS




	select tblExpenseCategories.ExpenseId, tblExpenseCategories.ExpenseName, isnull(EstimatedAmount,0) as EstimatedAmount , isnull(ActualAmount,0) as ActualAmount
	from tblExpenseCategories left join tblSchoolEstimationDetails 
	on tblExpenseCategories.ExpenseId = tblSchoolEstimationDetails.ExpenseCateId and tblSchoolEstimationDetails.EstimationId = @EstimationId
	 
	order by tblExpenseCategories.DisplayOrder asc;
GO
