USE [SaveDC]
GO
/****** Object:  StoredProcedure [dbo].[GetDonorsNotes]    Script Date: 02/28/2014 17:43:18 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetDonorsNotes]
@DonorId int

/* with encryption */ 

AS

Select tblDonorsNotes.Notes, tblDonorsNotes.DatePosted, tblUsers.UserName as PostedBy from tblDonorsNotes 
inner join tblUsers on tblUsers.UserId = tblDonorsNotes.PostedBy
where (DonorId = @DonorId OR DonorId = 0) order by tblDonorsNotes.DatePosted DESC;
GO
