USE [SaveDC]
GO
/****** Object:  StoredProcedure [dbo].[GetFamilyNameById]    Script Date: 02/28/2014 17:43:18 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetFamilyNameById]
@FamilyId int 

/* with encryption */ 

AS

	Select f.DisplayName from tblFamilies f where f.FamilyId = @FamilyId;
GO
