USE [SaveDC]
GO
/****** Object:  StoredProcedure [dbo].[AddNote]    Script Date: 02/28/2014 17:43:18 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddNote]
@DonorId int = 0,
@Notes varchar (255),
@PostedBy int

/* with encryption */ 

AS

	declare @RevValue int;

	Insert into tblDonorsNotes (DonorId, Notes, PostedBy)
	Values (@DonorId, @Notes, @PostedBy);
	Set @RevValue = @@IDENTITY;

	return @RevValue;
GO
