USE [SaveDC]
GO
/****** Object:  StoredProcedure [dbo].[LoadStudentSchoolEstimations]    Script Date: 02/28/2014 17:43:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LoadStudentSchoolEstimations] 
@StudentId int
/* with encryption */ 

AS

	select tblSchoolEstimations.EstimationId, tblSchools.SchoolId, SchoolName,PrincipalName,PhoneNum , FirstName, LastName, isnull(sum(EstimatedAmount), 0) as TotalEstimatedAmount, isnull(sum(ActualAmount),0)   as TotalActualAmount
	from tblSchoolEstimations 
	inner join tblSchools on  tblSchoolEstimations.SchoolId = tblSchools.SchoolId
	inner join tblStudents  on tblSchoolEstimations.StudentId = tblStudents.StudentId 
	left join tblSchoolEstimationDetails on tblSchoolEstimationDetails.EstimationId = tblSchoolEstimations.EstimationId
	where tblSchoolEstimations.StudentId = @StudentId 
	group by  tblSchoolEstimations.EstimationId,SchoolName, tblSchools.SchoolId,PrincipalName,PhoneNum , FirstName, LastName;
GO
