USE [SaveDC]
GO
/****** Object:  StoredProcedure [dbo].[GetAnnualProgressReportDetail]    Script Date: 02/28/2014 17:43:18 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAnnualProgressReportDetail] 
@ReportId int
/* with encryption */ 

AS

select r.*, u.UserName , (select SchoolName from tblSchools where SchoolId = r.SchoolId ) as SchoolName from tblAnnualProgressReports r left join tblUsers u on u.UserId = r.AddedBy 
 where r.ReportId = @ReportId
GO
