USE [SaveDC]
GO
/****** Object:  StoredProcedure [dbo].[GetExpenseReport]    Script Date: 02/28/2014 17:43:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetExpenseReport]
@SchoolName varchar (255) = null,


@PageNo int = 1,
@PageSize int = 10,
@TotalRecord int out
/* with encryption */ 

AS


DECLARE @StartRow int , @EndRow int;

If(@PageNo is null or @PageNo = 0)
begin
	SET @PageNo = 1;
end	

If(@PageSize is null or @PageSize = 0)
	SET @PageSize = (Select COUNT(*) from tblExpenses);
--else
--	SET @PageSize = 10;
	
SET @StartRow = (@PageNo - 1) * @PageSize + 1;
SET @EndRow = @PageNo * @PageSize


Create Table #TempTable
(
IID int IDENTITY PRIMARY KEY,
PayeeName varchar(255),
ExpenseType varchar(50),
TotalExpenses decimal(38,2)
)

Declare @TempSQL varchar(1024);

Set @TempSQL = ' Insert into #TempTable(PayeeName, ExpenseType, TotalExpenses) '
set @TempSQL = @TempSQL + ' select ExpensePayee, isnull(et.ExpenseName, ''Misc. Expense'') as ExpenseType, sum(ExpenseAmount) as TotalExpenses from tblExpenses e '
set @TempSQL = @TempSQL + ' left join tblExpenseTypes et on et.ExpenseId = e.ExpenseType ' 

if(@SchoolName is not null and @SchoolName != '')
	set @TempSQL =  @TempSQL + ' where e.ExpensePayee like ''%'+ @SchoolName +'%'''	

set @TempSQL =  @TempSQL + ' group by e.ExpensePayee, et.ExpenseName, SchoolId '

exec (@TempSQL);
	
Set @TotalRecord = (select COUNT(*) from #TempTable);

Set @TempSQL = 	'select #TempTable.* from #TempTable '
Set @TempSQL = @TempSQL + ' WHERE  IID >= '+ convert(nvarchar,@StartRow)+' AND IID <= ' + convert(nvarchar,@EndRow)
+ 'order by #TempTable.PayeeName asc '
exec (@TempSQL);
GO
