USE [SaveDC]
GO
/****** Object:  StoredProcedure [dbo].[LoadStudentProgressReports]    Script Date: 02/28/2014 17:43:19 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LoadStudentProgressReports] 
@StudentId int,
@MonthString varchar(50) = null,

@PageNo int = 1,
@PageSize int = 10,
@TotalRecord int out
/* with encryption */ 

AS



DECLARE @StartRow int , @EndRow int;

If(@PageNo is null or @PageNo = 0)
begin
	SET @PageNo = 1;
end	

If(@PageSize is null or @PageSize = 0)
	SET @PageSize = (Select COUNT(*) from tblUsers);
--else
--	SET @PageSize = 10;
	
SET @StartRow = (@PageNo - 1) * @PageSize + 1;
SET @EndRow = @PageNo * @PageSize


Create Table #TempTable
(
IID int IDENTITY PRIMARY KEY,
ReportId int,
SchoolName varchar(255),
ReportMonth varchar(50),
AddedBy int
)



Declare @TempSQL varchar(1024);


Set @TempSQL = 'Insert into #TempTable(ReportId, SchoolName, ReportMonth, AddedBy) '
Set @TempSQL = @TempSQL + ' select ReportId, SchoolName, '
Set @TempSQL = @TempSQL + 'dbo.FormateDate( CAST(CAST([Year] AS varchar) + ''-'' + CAST([Month] AS varchar) + ''-'' + CAST(''1'' AS varchar) AS DATETIME) , 0) '
Set @TempSQL = @TempSQL + 'as ReportMonth , AddedBy from tblStudentProgressReport '
Set @TempSQL = @TempSQL + 'inner join tblStudents on  tblStudentProgressReport.StudentId =  tblStudents.StudentId  '
Set @TempSQL = @TempSQL + 'inner join tblSchools on tblStudentProgressReport.SchoolId = tblSchools.SchoolId '
Set @TempSQL = @TempSQL + ' where tblStudentProgressReport.StudentId = '+ CONVERT(nvarchar, @StudentId )


if(@MonthString is not null and @MonthString != '' )
	Set @TempSQL = @TempSQL + ' And dbo.FormateDate( CAST(CAST([Year] AS varchar) + ''-'' + CAST([Month] AS varchar) + ''-'' + CAST(''1'' AS varchar) AS DATETIME),0 )  like ''%' + @MonthString + '%''';
	
	print @TempSQL
exec (@TempSQL);
 
Set @TotalRecord = (select COUNT(*) from #TempTable);


Set @TempSQL = 	'select #TempTable.*, u.UserName as UserName from #TempTable left join tblUsers u on  #TempTable.AddedBy = u.UserId '
Set @TempSQL = @TempSQL + ' WHERE  IID >= '+ convert(nvarchar,@StartRow)+' AND IID <= ' + convert(nvarchar,@EndRow)
exec (@TempSQL);
GO
