USE [SaveDC]
GO
/****** Object:  StoredProcedure [dbo].[AddUser]    Script Date: 05/06/2014 12:30:08 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddUser]
@UserId int = 0,
@UserName varchar (255),
@Password varchar (255), 
@UserRoleId int,
@FirstName  varchar (255), 
@LastName  varchar (255), 
@Email  varchar (255), 
@PhoneNum  varchar (255), 
@Gender bit = 1,
@CNIC  varchar (255), 
@RecevingDate  smalldatetime = null, 
@Occupation  varchar (255), 
@Qualification  varchar (255), 
@Note  varchar (255), 
@IsSuspended bit,
@Country varchar (255),
@Address varchar (1024)

/* with encryption */ 

AS

	declare @RevValue int;
	Set @RevValue = 0;
	
	if(@UserId = 0 or @UserId is null)
	begin
	
		If exists (Select * from tblUsers where UserName = @UserName and IsDeleted != 1) 
			Set @RevValue =  -1; -- user already exists ...
		else
		begin
			Insert into tblUsers (UserName, Password , UserRoleId, FirstName,LastName,Email  , PhoneNum, Gender, CNIC, RecevingDate, Occupation, Qualification, Note , IsSuspended , IsDeleted , Country, Address)
			Values (@UserName, @Password , @UserRoleId, @FirstName, @LastName, @Email  , @PhoneNum, @Gender, @CNIC, @RecevingDate, @Occupation, @Qualification, @Note, 0 , 0, 
@Country, @Address)	;
			Set @RevValue = @@IDENTITY;
		end	
	end
	else
	begin
		Update tblUsers set 
		-- UserName = @UserName,
		[Password] = @Password,
		UserRoleId = @UserRoleId, 
		FirstName = @FirstName,
		LastName = @LastName,
		Email = @Email, 
		PhoneNum = @PhoneNum,
		Gender = @Gender,
		CNIC = @CNIC,
		RecevingDate = @RecevingDate,
		Occupation = @Occupation,
		Qualification = @Qualification,
		Note = @Note,
		Country = @Country, 
		Address = @Address
		where UserId = @UserId;
		
		Set @RevValue = @UserId;
	end
	
	return @RevValue;
GO
