USE [SaveDC]
GO
/****** Object:  StoredProcedure [dbo].[AddRemarks]    Script Date: 02/28/2014 17:43:18 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddRemarks]
@DonorId int = 0,
@Remarks varchar (255),
@PostedBy int

/* with encryption */ 

AS

	declare @RevValue int;

	Insert into tblDonorsRemarks (DonorId, Remarks, PostedBy)
	Values (@DonorId, @Remarks, @PostedBy);
	Set @RevValue = @@IDENTITY;

	return @RevValue;
GO
