USE [SaveDC]
GO
/****** Object:  StoredProcedure [dbo].[SaveAdminSettingVal]    Script Date: 02/28/2014 17:43:19 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SaveAdminSettingVal] 
@SettingName varchar(50),
@SettingValue varchar(50)
/* with encryption */ 

AS

update tblAdminSettings set SettingValue = @SettingValue where SettingName = @SettingName


	if @@error != 0
		return 0
	else
		return 1
GO
