USE [SaveDC]
GO
/****** Object:  StoredProcedure [dbo].[AddAnnualFee]    Script Date: 05/06/2014 12:30:08 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddAnnualFee]
@MemberId int = 0,
@AnnualFee int = 500,
@PostedOn smalldatetime,
@PostedBy int

/* with encryption */ 

AS

	declare @RevValue int;

	Insert into tblMembersFees (MemberId, AnnualFee, PostedBy, DatePosted)
	Values (@MemberId, @AnnualFee, @PostedBy, @PostedOn);
	Set @RevValue = @@IDENTITY;

	return @RevValue;
GO
