USE [SaveDC]
GO
/****** Object:  StoredProcedure [dbo].[LoadBalance]    Script Date: 02/28/2014 17:43:18 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LoadBalance]
@BalanceID int
/* with encryption */ 

AS

select tblBanksBalances.BalanceId, tblBanksBalances.ABL as ABLbalance, tblBanksBalances.FBL as FBLbalance from tblBanksBalances where BalanceId = @BalanceID
GO
