USE [SaveDC]
GO
/****** Object:  StoredProcedure [dbo].[GetStudentLeavingCertificateDetail]    Script Date: 02/28/2014 17:43:18 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetStudentLeavingCertificateDetail] 
@ReportId int
/* with encryption */ 

AS

select r.*, u.UserName from tblLeavingCertificates r left join tblUsers u on u.UserId = r.AddedBy 
 where r.ReportId = @ReportId
GO
