USE [SaveDC]
GO
/****** Object:  StoredProcedure [dbo].[GetSchoolDonationReport]    Script Date: 02/28/2014 17:43:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetSchoolDonationReport]

@PageNo int = 1,
@PageSize int = 10,
@ActionDate nvarchar(50) = null,
@TotalRecord int out
/* with encryption */ 

AS


DECLARE @StartRow int , @EndRow int;

If(@PageNo is null or @PageNo = 0)
begin
	SET @PageNo = 1;
end	

If(@PageSize is null or @PageSize = 0)
	SET @PageSize = (Select COUNT(*) from tblDonorsFunds);
--else
--	SET @PageSize = 10;
	
SET @StartRow = (@PageNo - 1) * @PageSize + 1;
SET @EndRow = @PageNo * @PageSize


Create Table #TempTable
(
IID int IDENTITY PRIMARY KEY,
DonationMonth varchar(255),
DonationAmount int
)

Declare @TempSQL varchar(1024);

Set @TempSQL = ' Insert into #TempTable(DonationMonth, DonationAmount) '
set @TempSQL = @TempSQL + '  select  dbo.FormateDate(DatePaid, 0) as DonationMonth , sum(TotalAmount) as DonationAmount from tblDonorsFunds '

if(@ActionDate is not null and @ActionDate !='')
	Set @TempSQL = @TempSQL + ' where dbo.FormateDate(DatePaid, 0) like ''%' +  @ActionDate + '%'''

Set @TempSQL = @TempSQL + ' group by dbo.FormateDate(DatePaid, 0) '


exec (@TempSQL);
	
Set @TotalRecord = (select COUNT(*) from #TempTable);

Set @TempSQL = 	'select #TempTable.* from #TempTable '
Set @TempSQL = @TempSQL + ' WHERE  IID >= '+ convert(nvarchar,@StartRow)+' AND IID <= ' + convert(nvarchar,@EndRow)
Set @TempSQL = @TempSQL + ' ORDER BY DATEPART(Month, DonationMonth) DESC'

exec (@TempSQL);
GO
