USE [SaveDC]
GO
/****** Object:  StoredProcedure [dbo].[AddStudentLeavingCertificate]    Script Date: 02/28/2014 17:43:18 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddStudentLeavingCertificate]
@ReportId int = 0,
@StudentId int,
@Note nvarchar(1024),
@ReportGUID nvarchar(50),
@AddedBy int
/* with encryption */ 

AS

	declare @RevValue int;
	Set @RevValue = 0;
	
	if(@ReportId = 0 or @ReportId is null)
	begin
		/*if exists(select * from tblLeavingCertificates where StudentId = @StudentId)
		Set @RevValue = (select ReportId from  tblLeavingCertificates where StudentId = @StudentId)
		else*/
		begin	
			Insert into tblLeavingCertificates( StudentId, Note, ReportGUID, AddedBy)
			Values( @StudentId, @Note, @ReportGUID, @AddedBy) 
			Set @RevValue = @@IDENTITY;
		end	
	end
	else
	begin
		Update tblLeavingCertificates
		set 
		 Note = @Note, 
		 ReportGUID = @ReportGUID,
		 AddedBy =@AddedBy
		where   ReportId = @ReportId
		
		Set @RevValue = @ReportId;
	end
	
	return @RevValue;
GO
