USE [SaveDC]
GO
/****** Object:  StoredProcedure [dbo].[sp_FindStringInCode3]    Script Date: 02/28/2014 17:43:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[sp_FindStringInCode3] 
-- By: James Travis
-- Adapted By: Joseph Gama

/* Input variables, DEFAULT NULL FOR custom error output. */ @find varchar ( 50 ) = NULL , 
@type varchar ( 2 ) = NULL 
/* with encryption */ AS 
/* CHECK FOR NULL or invalid input AND show custom error. */ 
IF @find IS NULL AND @type IS NULL 

BEGIN 
    RAISERROR ( 'This PROCEDURE has two required parameters @find AND @type' , 16 , - 1 ) 
    RETURN 
END 
ELSE IF @find IS NULL 

BEGIN 
    RAISERROR ( 'You must enter a valid LIKE criteria FOR @find without the leading/ending % wildcard.' , 16 , - 1 ) 
    RETURN 
END 
ELSE IF @type IS NULL OR @type NOT IN ( 'C' , 'D' , 'FN' , 'P' , 'TR' , 'V' ) 

BEGIN 
    RAISERROR ( 'No value was entered FOR @type.
    Valid VALUES FOR @type are
    C = CHECK CONSTRAINT
    D = DEFAULT
    FN = Function
    P = PROCEDURE
    TR = TRIGGER
    V = View' , 16 , - 1 ) 
    RETURN 
END 
/* SET wildcards ON END OF find value. */ 
DECLARE @find2 varchar ( 50 ) , @LenFind int 
SET @LenFind = datalength ( @find ) 
SET @find2 = @find 
SET @find = '%' + @find + '%' 
/* Output object names which contain find value. */ 
SELECT 
object_name ( [id] ) AS [Found] , 
count ( object_name ( [id] ) ) AS [Number of occurences] 
FROM syscomments c 
WHERE [id] IN 
( 
    SELECT [id] FROM sysobjects o 
    WHERE xtype = @type 
    AND status >= 0 
) 
AND [text] LIKE @find 
--2 CHAR
OR 
( 
    ( @LenFind = 2 ) AND ( colid > 1 ) AND ( left ( c.text , 1 ) = right ( @find2 , 1 ) ) AND 
    ( 
        EXISTS 
        ( 
            SELECT c2.text FROM sysobjects o2 
            INNER JOIN syscomments c2 ON c2.id = o2.id 
            WHERE c2.id = c.id 
            AND c2.colid = c.colid - 1 
            AND 
            ( right ( c2.text , 1 ) = left ( @find2 , 1 ) ) 
        ) 
    ) 
) 

--3 CHAR
OR 
( 
    ( @LenFind = 3 ) AND ( colid > 1 ) AND ( left ( c.text , 1 ) = right ( @find2 , 1 ) ) AND 
    ( 
        EXISTS 
        ( 
            SELECT c2.text FROM sysobjects o2 
            INNER JOIN syscomments c2 ON c2.id = o2.id 
            WHERE c2.id = c.id 
            AND c2.colid = c.colid - 1 
            AND 
            ( right ( c2.text , 2 ) = left ( @find2 , 2 ) ) 
        ) 
    ) 
) 

OR 
( 
    ( @LenFind = 3 ) AND ( colid > 1 ) AND ( left ( c.text , 2 ) = right ( @find2 , 2 ) ) AND 
    ( 
        EXISTS 
        ( 
            SELECT c2.text FROM sysobjects o2 
            INNER JOIN syscomments c2 ON c2.id = o2.id 
            WHERE c2.id = c.id 
            AND c2.colid = c.colid - 1 
            AND 
            ( right ( c2.text , 1 ) = left ( @find2 , 1 ) ) 
        ) 
    ) 
) 

--4 CHAR
OR 
( 
    ( @LenFind = 4 ) AND ( colid > 1 ) AND ( left ( c.text , 1 ) = right ( @find2 , 1 ) ) AND 
    ( 
        EXISTS 
        ( 
            SELECT c2.text FROM sysobjects o2 
            INNER JOIN syscomments c2 ON c2.id = o2.id 
            WHERE c2.id = c.id 
            AND c2.colid = c.colid - 1 
            AND 
            ( right ( c2.text , 3 ) = left ( @find2 , 3 ) ) 
        ) 
    ) 
) 

OR 
( 
    ( @LenFind = 4 ) AND ( colid > 1 ) AND ( left ( c.text , 2 ) = right ( @find2 , 2 ) ) AND 
    ( 
        EXISTS 
        ( 
            SELECT c2.text FROM sysobjects o2 
            INNER JOIN syscomments c2 ON c2.id = o2.id 
            WHERE c2.id = c.id 
            AND c2.colid = c.colid - 1 
            AND 
            ( right ( c2.text , 2 ) = left ( @find2 , 2 ) ) 
        ) 
    ) 
) 

OR 
( 
    ( @LenFind = 4 ) AND ( colid > 1 ) AND ( left ( c.text , 3 ) = right ( @find2 , 3 ) ) AND 
    ( 
        EXISTS 
        ( 
            SELECT c2.text FROM sysobjects o2 
            INNER JOIN syscomments c2 ON c2.id = o2.id 
            WHERE c2.id = c.id 
            AND c2.colid = c.colid - 1 
            AND 
            ( right ( c2.text , 1 ) = left ( @find2 , 1 ) ) 
        ) 
    ) 
) 

--5 CHAR
OR 
( 
    ( @LenFind = 5 ) AND ( colid > 1 ) AND ( left ( c.text , 1 ) = right ( @find2 , 1 ) ) AND 
    ( 
        EXISTS 
        ( 
            SELECT c2.text FROM sysobjects o2 
            INNER JOIN syscomments c2 ON c2.id = o2.id 
            WHERE c2.id = c.id 
            AND c2.colid = c.colid - 1 
            AND 
            ( right ( c2.text , 4 ) = left ( @find2 , 4 ) ) 
        ) 
    ) 
) 

OR 
( 
    ( @LenFind = 5 ) AND ( colid > 1 ) AND ( left ( c.text , 2 ) = right ( @find2 , 2 ) ) AND 
    ( 
        EXISTS 
        ( 
            SELECT c2.text FROM sysobjects o2 
            INNER JOIN syscomments c2 ON c2.id = o2.id 
            WHERE c2.id = c.id 
            AND c2.colid = c.colid - 1 
            AND 
            ( right ( c2.text , 3 ) = left ( @find2 , 3 ) ) 
        ) 
    ) 
) 

OR 
( 
    ( @LenFind = 5 ) AND ( colid > 1 ) AND ( left ( c.text , 3 ) = right ( @find2 , 3 ) ) AND 
    ( 
        EXISTS 
        ( 
            SELECT c2.text FROM sysobjects o2 
            INNER JOIN syscomments c2 ON c2.id = o2.id 
            WHERE c2.id = c.id 
            AND c2.colid = c.colid - 1 
            AND 
            ( right ( c2.text , 2 ) = left ( @find2 , 2 ) ) 
        ) 
    ) 
) 

OR 
( 
    ( @LenFind = 5 ) AND ( colid > 1 ) AND ( left ( c.text , 4 ) = right ( @find2 , 4 ) ) AND 
    ( 
        EXISTS 
        ( 
            SELECT c2.text FROM sysobjects o2 
            INNER JOIN syscomments c2 ON c2.id = o2.id 
            WHERE c2.id = c.id 
            AND c2.colid = c.colid - 1 
            AND 
            ( right ( c2.text , 1 ) = left ( @find2 , 1 ) ) 
        ) 
    ) 
) 

--6 CHAR
OR 
( 
    ( @LenFind = 6 ) AND ( colid > 1 ) AND ( left ( c.text , 1 ) = right ( @find2 , 1 ) ) AND 
    ( 
        EXISTS 
        ( 
            SELECT c2.text FROM sysobjects o2 
            INNER JOIN syscomments c2 ON c2.id = o2.id 
            WHERE c2.id = c.id 
            AND c2.colid = c.colid - 1 
            AND 
            ( right ( c2.text , 5 ) = left ( @find2 , 5 ) ) 
        ) 
    ) 
) 

OR 
( 
    ( @LenFind = 6 ) AND ( colid > 1 ) AND ( left ( c.text , 2 ) = right ( @find2 , 2 ) ) AND 
    ( 
        EXISTS 
        ( 
            SELECT c2.text FROM sysobjects o2 
            INNER JOIN syscomments c2 ON c2.id = o2.id 
            WHERE c2.id = c.id 
            AND c2.colid = c.colid - 1 
            AND 
            ( right ( c2.text , 4 ) = left ( @find2 , 4 ) ) 
        ) 
    ) 
) 

OR 
( 
    ( @LenFind = 6 ) AND ( colid > 1 ) AND ( left ( c.text , 3 ) = right ( @find2 , 3 ) ) AND 
    ( 
        EXISTS 
        ( 
            SELECT c2.text FROM sysobjects o2 
            INNER JOIN syscomments c2 ON c2.id = o2.id 
            WHERE c2.id = c.id 
            AND c2.colid = c.colid - 1 
            AND 
            ( right ( c2.text , 3 ) = left ( @find2 , 3 ) ) 
        ) 
    ) 
) 

OR 
( 
    ( @LenFind = 6 ) AND ( colid > 1 ) AND ( left ( c.text , 4 ) = right ( @find2 , 4 ) ) AND 
    ( 
        EXISTS 
        ( 
            SELECT c2.text FROM sysobjects o2 
            INNER JOIN syscomments c2 ON c2.id = o2.id 
            WHERE c2.id = c.id 
            AND c2.colid = c.colid - 1 
            AND 
            ( right ( c2.text , 2 ) = left ( @find2 , 2 ) ) 
        ) 
    ) 
) 

OR 
( 
    ( @LenFind = 6 ) AND ( colid > 1 ) AND ( left ( c.text , 5 ) = right ( @find2 , 5 ) ) AND 
    ( 
        EXISTS 
        ( 
            SELECT c2.text FROM sysobjects o2 
            INNER JOIN syscomments c2 ON c2.id = o2.id 
            WHERE c2.id = c.id 
            AND c2.colid = c.colid - 1 
            AND 
            ( right ( c2.text , 1 ) = left ( @find2 , 1 ) ) 
        ) 
    ) 
) 

--7 CHAR
OR 
( 
    ( @LenFind = 7 ) AND ( colid > 1 ) AND ( left ( c.text , 1 ) = right ( @find2 , 1 ) ) AND 
    ( 
        EXISTS 
        ( 
            SELECT c2.text FROM sysobjects o2 
            INNER JOIN syscomments c2 ON c2.id = o2.id 
            WHERE c2.id = c.id 
            AND c2.colid = c.colid - 1 
            AND 
            ( right ( c2.text , 6 ) = left ( @find2 , 6 ) ) 
        ) 
    ) 
) 

OR 
( 
    ( @LenFind = 7 ) AND ( colid > 1 ) AND ( left ( c.text , 2 ) = right ( @find2 , 2 ) ) AND 
    ( 
        EXISTS 
        ( 
            SELECT c2.text FROM sysobjects o2 
            INNER JOIN syscomments c2 ON c2.id = o2.id 
            WHERE c2.id = c.id 
            AND c2.colid = c.colid - 1 
            AND 
            ( right ( c2.text , 5 ) = left ( @find2 , 5 ) ) 
        ) 
    ) 
) 

OR 
( 
    ( @LenFind = 7 ) AND ( colid > 1 ) AND ( left ( c.text , 3 ) = right ( @find2 , 3 ) ) AND 
    ( 
        EXISTS 
        ( 
            SELECT c2.text FROM sysobjects o2 
            INNER JOIN syscomments c2 ON c2.id = o2.id 
            WHERE c2.id = c.id 
            AND c2.colid = c.colid - 1 
            AND 
            ( right ( c2.text , 4 ) = left ( @find2 , 4 ) ) 
        ) 
    ) 
) 

OR 
( 
    ( @LenFind = 7 ) AND ( colid > 1 ) AND ( left ( c.text , 4 ) = right ( @find2 , 4 ) ) AND 
    ( 
        EXISTS 
        ( 
            SELECT c2.text FROM sysobjects o2 
            INNER JOIN syscomments c2 ON c2.id = o2.id 
            WHERE c2.id = c.id 
            AND c2.colid = c.colid - 1 
            AND 
            ( right ( c2.text , 3 ) = left ( @find2 , 3 ) ) 
        ) 
    ) 
) 

OR 
( 
    ( @LenFind = 7 ) AND ( colid > 1 ) AND ( left ( c.text , 5 ) = right ( @find2 , 5 ) ) AND 
    ( 
        EXISTS 
        ( 
            SELECT c2.text FROM sysobjects o2 
            INNER JOIN syscomments c2 ON c2.id = o2.id 
            WHERE c2.id = c.id 
            AND c2.colid = c.colid - 1 
            AND 
            ( right ( c2.text , 2 ) = left ( @find2 , 2 ) ) 
        ) 
    ) 
) 

OR 
( 
    ( @LenFind = 7 ) AND ( colid > 1 ) AND ( left ( c.text , 6 ) = right ( @find2 , 6 ) ) AND 
    ( 
        EXISTS 
        ( 
            SELECT c2.text FROM sysobjects o2 
            INNER JOIN syscomments c2 ON c2.id = o2.id 
            WHERE c2.id = c.id 
            AND c2.colid = c.colid - 1 
            AND 
            ( right ( c2.text , 1 ) = left ( @find2 , 1 ) ) 
        ) 
    ) 
) 

--8 CHAR
OR 
( 
    ( @LenFind = 8 ) AND ( colid > 1 ) AND ( left ( c.text , 1 ) = right ( @find2 , 1 ) ) AND 
    ( 
        EXISTS 
        ( 
            SELECT c2.text FROM sysobjects o2 
            INNER JOIN syscomments c2 ON c2.id = o2.id 
            WHERE c2.id = c.id 
            AND c2.colid = c.colid - 1 
            AND 
            ( right ( c2.text , 7 ) = left ( @find2 , 7 ) ) 
        ) 
    ) 
) 

OR 
( 
    ( @LenFind = 8 ) AND ( colid > 1 ) AND ( left ( c.text , 2 ) = right ( @find2 , 2 ) ) AND 
    ( 
        EXISTS 
        ( 
            SELECT c2.text FROM sysobjects o2 
            INNER JOIN syscomments c2 ON c2.id = o2.id 
            WHERE c2.id = c.id 
            AND c2.colid = c.colid - 1 
            AND 
            ( right ( c2.text , 6 ) = left ( @find2 , 6 ) ) 
        ) 
    ) 
) 

OR 
( 
    ( @LenFind = 8 ) AND ( colid > 1 ) AND ( left ( c.text , 3 ) = right ( @find2 , 3 ) ) AND 
    ( 
        EXISTS 
        ( 
            SELECT c2.text FROM sysobjects o2 
            INNER JOIN syscomments c2 ON c2.id = o2.id 
            WHERE c2.id = c.id 
            AND c2.colid = c.colid - 1 
            AND 
            ( right ( c2.text , 5 ) = left ( @find2 , 5 ) ) 
        ) 
    ) 
) 

OR 
( 
    ( @LenFind = 8 ) AND ( colid > 1 ) AND ( left ( c.text , 4 ) = right ( @find2 , 4 ) ) AND 
    ( 
        EXISTS 
        ( 
            SELECT c2.text FROM sysobjects o2 
            INNER JOIN syscomments c2 ON c2.id = o2.id 
            WHERE c2.id = c.id 
            AND c2.colid = c.colid - 1 
            AND 
            ( right ( c2.text , 4 ) = left ( @find2 , 4 ) ) 
        ) 
    ) 
) 

OR 
( 
    ( @LenFind = 8 ) AND ( colid > 1 ) AND ( left ( c.text , 5 ) = right ( @find2 , 5 ) ) AND 
    ( 
        EXISTS 
        ( 
            SELECT c2.text FROM sysobjects o2 
            INNER JOIN syscomments c2 ON c2.id = o2.id 
            WHERE c2.id = c.id 
            AND c2.colid = c.colid - 1 
            AND 
            ( right ( c2.text , 3 ) = left ( @find2 , 3 ) ) 
        ) 
    ) 
) 

OR 
( 
    ( @LenFind = 8 ) AND ( colid > 1 ) AND ( left ( c.text , 6 ) = right ( @find2 , 6 ) ) AND 
    ( 
        EXISTS 
        ( 
            SELECT c2.text FROM sysobjects o2 
            INNER JOIN syscomments c2 ON c2.id = o2.id 
            WHERE c2.id = c.id 
            AND c2.colid = c.colid - 1 
            AND 
            ( right ( c2.text , 2 ) = left ( @find2 , 2 ) ) 
        ) 
    ) 
) 

OR 
( 
    ( @LenFind = 8 ) AND ( colid > 1 ) AND ( left ( c.text , 7 ) = right ( @find2 , 7 ) ) AND 
    ( 
        EXISTS 
        ( 
            SELECT c2.text FROM sysobjects o2 
            INNER JOIN syscomments c2 ON c2.id = o2.id 
            WHERE c2.id = c.id 
            AND c2.colid = c.colid - 1 
            AND 
            ( right ( c2.text , 1 ) = left ( @find2 , 1 ) ) 
        ) 
    ) 
) 

--9 CHAR
OR 
( 
    ( @LenFind = 9 ) AND ( colid > 1 ) AND ( left ( c.text , 1 ) = right ( @find2 , 1 ) ) AND 
    ( 
        EXISTS 
        ( 
            SELECT c2.text FROM sysobjects o2 
            INNER JOIN syscomments c2 ON c2.id = o2.id 
            WHERE c2.id = c.id 
            AND c2.colid = c.colid - 1 
            AND 
            ( right ( c2.text , 8 ) = left ( @find2 , 8 ) ) 
        ) 
    ) 
) 

OR 
( 
    ( @LenFind = 9 ) AND ( colid > 1 ) AND ( left ( c.text , 2 ) = right ( @find2 , 2 ) ) AND 
    ( 
        EXISTS 
        ( 
            SELECT c2.text FROM sysobjects o2 
            INNER JOIN syscomments c2 ON c2.id = o2.id 
            WHERE c2.id = c.id 
            AND c2.colid = c.colid - 1 
            AND 
            ( right ( c2.text , 7 ) = left ( @find2 , 7 ) ) 
        ) 
    ) 
) 

OR 
( 
    ( @LenFind = 9 ) AND ( colid > 1 ) AND ( left ( c.text , 3 ) = right ( @find2 , 3 ) ) AND 
    ( 
        EXISTS 
        ( 
            SELECT c2.text FROM sysobjects o2 
            INNER JOIN syscomments c2 ON c2.id = o2.id 
            WHERE c2.id = c.id 
            AND c2.colid = c.colid - 1 
            AND 
            ( right ( c2.text , 6 ) = left ( @find2 , 6 ) ) 
        ) 
    ) 
) 

OR 
( 
    ( @LenFind = 9 ) AND ( colid > 1 ) AND ( left ( c.text , 4 ) = right ( @find2 , 4 ) ) AND 
    ( 
        EXISTS 
        ( 
            SELECT c2.text FROM sysobjects o2 
            INNER JOIN syscomments c2 ON c2.id = o2.id 
            WHERE c2.id = c.id 
            AND c2.colid = c.colid - 1 
            AND 
            ( right ( c2.text , 5 ) = left ( @find2 , 5 ) ) 
        ) 
    ) 
) 

OR 
( 
    ( @LenFind = 9 ) AND ( colid > 1 ) AND ( left ( c.text , 5 ) = right ( @find2 , 5 ) ) AND 
    ( 
        EXISTS 
        ( 
            SELECT c2.text FROM sysobjects o2 
            INNER JOIN syscomments c2 ON c2.id = o2.id 
            WHERE c2.id = c.id 
            AND c2.colid = c.colid - 1 
            AND 
            ( right ( c2.text , 4 ) = left ( @find2 , 4 ) ) 
        ) 
    ) 
) 

OR 
( 
    ( @LenFind = 9 ) AND ( colid > 1 ) AND ( left ( c.text , 6 ) = right ( @find2 , 6 ) ) AND 
    ( 
        EXISTS 
        ( 
            SELECT c2.text FROM sysobjects o2 
            INNER JOIN syscomments c2 ON c2.id = o2.id 
            WHERE c2.id = c.id 
            AND c2.colid = c.colid - 1 
            AND 
            ( right ( c2.text , 3 ) = left ( @find2 , 3 ) ) 
        ) 
    ) 
) 

OR 
( 
    ( @LenFind = 9 ) AND ( colid > 1 ) AND ( left ( c.text , 7 ) = right ( @find2 , 7 ) ) AND 
    ( 
        EXISTS 
        ( 
            SELECT c2.text FROM sysobjects o2 
            INNER JOIN syscomments c2 ON c2.id = o2.id 
            WHERE c2.id = c.id 
            AND c2.colid = c.colid - 1 
            AND 
            ( right ( c2.text , 2 ) = left ( @find2 , 2 ) ) 
        ) 
    ) 
) 

OR 
( 
    ( @LenFind = 9 ) AND ( colid > 1 ) AND ( left ( c.text , 8 ) = right ( @find2 , 8 ) ) AND 
    ( 
        EXISTS 
        ( 
            SELECT c2.text FROM sysobjects o2 
            INNER JOIN syscomments c2 ON c2.id = o2.id 
            WHERE c2.id = c.id 
            AND c2.colid = c.colid - 1 
            AND 
            ( right ( c2.text , 1 ) = left ( @find2 , 1 ) ) 
        ) 
    ) 
) 

--10 CHAR
OR 
( 
    ( @LenFind = 10 ) AND ( colid > 1 ) AND ( left ( c.text , 1 ) = right ( @find2 , 1 ) ) AND 
    ( 
        EXISTS 
        ( 
            SELECT c2.text FROM sysobjects o2 
            INNER JOIN syscomments c2 ON c2.id = o2.id 
            WHERE c2.id = c.id 
            AND c2.colid = c.colid - 1 
            AND 
            ( right ( c2.text , 9 ) = left ( @find2 , 9 ) ) 
        ) 
    ) 
) 

OR 
( 
    ( @LenFind = 10 ) AND ( colid > 1 ) AND ( left ( c.text , 2 ) = right ( @find2 , 2 ) ) AND 
    ( 
        EXISTS 
        ( 
            SELECT c2.text FROM sysobjects o2 
            INNER JOIN syscomments c2 ON c2.id = o2.id 
            WHERE c2.id = c.id 
            AND c2.colid = c.colid - 1 
            AND 
            ( right ( c2.text , 8 ) = left ( @find2 , 8 ) ) 
        ) 
    ) 
) 

OR 
( 
    ( @LenFind = 10 ) AND ( colid > 1 ) AND ( left ( c.text , 3 ) = right ( @find2 , 3 ) ) AND 
    ( 
        EXISTS 
        ( 
            SELECT c2.text FROM sysobjects o2 
            INNER JOIN syscomments c2 ON c2.id = o2.id 
            WHERE c2.id = c.id 
            AND c2.colid = c.colid - 1 
            AND 
            ( right ( c2.text , 7 ) = left ( @find2 , 7 ) ) 
        ) 
    ) 
) 

OR 
( 
    ( @LenFind = 10 ) AND ( colid > 1 ) AND ( left ( c.text , 4 ) = right ( @find2 , 4 ) ) AND 
    ( 
        EXISTS 
        ( 
            SELECT c2.text FROM sysobjects o2 
            INNER JOIN syscomments c2 ON c2.id = o2.id 
            WHERE c2.id = c.id 
            AND c2.colid = c.colid - 1 
            AND 
            ( right ( c2.text , 6 ) = left ( @find2 , 6 ) ) 
        ) 
    ) 
) 

OR 
( 
    ( @LenFind = 10 ) AND ( colid > 1 ) AND ( left ( c.text , 5 ) = right ( @find2 , 5 ) ) AND 
    ( 
        EXISTS 
        ( 
            SELECT c2.text FROM sysobjects o2 
            INNER JOIN syscomments c2 ON c2.id = o2.id 
            WHERE c2.id = c.id 
            AND c2.colid = c.colid - 1 
            AND 
            ( right ( c2.text , 5 ) = left ( @find2 , 5 ) ) 
        ) 
    ) 
) 

OR 
( 
    ( @LenFind = 10 ) AND ( colid > 1 ) AND ( left ( c.text , 6 ) = right ( @find2 , 6 ) ) AND 
    ( 
        EXISTS 
        ( 
            SELECT c2.text FROM sysobjects o2 
            INNER JOIN syscomments c2 ON c2.id = o2.id 
            WHERE c2.id = c.id 
            AND c2.colid = c.colid - 1 
            AND 
            ( right ( c2.text , 4 ) = left ( @find2 , 4 ) ) 
        ) 
    ) 
) 

OR 
( 
    ( @LenFind = 10 ) AND ( colid > 1 ) AND ( left ( c.text , 7 ) = right ( @find2 , 7 ) ) AND 
    ( 
        EXISTS 
        ( 
            SELECT c2.text FROM sysobjects o2 
            INNER JOIN syscomments c2 ON c2.id = o2.id 
            WHERE c2.id = c.id 
            AND c2.colid = c.colid - 1 
            AND 
            ( right ( c2.text , 3 ) = left ( @find2 , 3 ) ) 
        ) 
    ) 
) 

OR 
( 
    ( @LenFind = 10 ) AND ( colid > 1 ) AND ( left ( c.text , 8 ) = right ( @find2 , 8 ) ) AND 
    ( 
        EXISTS 
        ( 
            SELECT c2.text FROM sysobjects o2 
            INNER JOIN syscomments c2 ON c2.id = o2.id 
            WHERE c2.id = c.id 
            AND c2.colid = c.colid - 1 
            AND 
            ( right ( c2.text , 2 ) = left ( @find2 , 2 ) ) 
        ) 
    ) 
) 

OR 
( 
    ( @LenFind = 10 ) AND ( colid > 1 ) AND ( left ( c.text , 9 ) = right ( @find2 , 9 ) ) AND 
    ( 
        EXISTS 
        ( 
            SELECT c2.text FROM sysobjects o2 
            INNER JOIN syscomments c2 ON c2.id = o2.id 
            WHERE c2.id = c.id 
            AND c2.colid = c.colid - 1 
            AND 
            ( right ( c2.text , 1 ) = left ( @find2 , 1 ) ) 
        ) 
    ) 
) 

GROUP BY object_name ( [id] )
GO
