USE [SaveDC]
GO
/****** Object:  StoredProcedure [dbo].[LoadStudent]    Script Date: 02/28/2014 17:43:18 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LoadStudent]
@StudentId int
/* with encryption */ 

AS

select * from tblStudents s left join tblStudentVarifications vr
on s.StudentId = vr.StudentId  where s.StudentId = @StudentId and s.IsDeleted != 1 and s.IsDeleted != null;
GO
