USE [SaveDC]
GO
/****** Object:  StoredProcedure [dbo].[GetExpenseDetails]    Script Date: 02/28/2014 17:43:18 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetExpenseDetails]
@ExpenseId int
/* with encryption */ 

AS

	select e.*, isnull(et.ExpenseName, 'Misc. Expense') as ExpenseName, b.BankName, 
	(select UserName from tblUsers d where d.UserId = e.PostedBy) as PostedByName
	from tblExpenses e 
	left join tblBanks b on b.BankId = e.BankId 
	left join tblExpenseTypes et on et.ExpenseId = e.ExpenseType
	where e.ExpenseId  = @ExpenseId;
GO
