USE [SaveDC]
GO
/****** Object:  StoredProcedure [dbo].[DeleteStudentProgressReport]    Script Date: 02/28/2014 17:43:18 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteStudentProgressReport]
@ReportId int
/* with encryption */ 

AS

BEGIN TRAN T1;

delete from tblStudentProgressReportDetail where ReportId = @ReportId;
delete from tblStudentProgressReport  where  ReportId = @ReportId;		
		

if @@error != 0
begin
	ROLLBACK TRAN T1;
	return 0;
end	
else
begin
	COMMIT TRAN  T1;
	return 1;
end
GO
