USE [SaveDC]
GO
/****** Object:  StoredProcedure [dbo].[GetRoleNameById]    Script Date: 02/28/2014 17:43:18 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[GetRoleNameById]
@RoleId int 

/* with encryption */ 

AS

	Select r.RoleName   from tblUserRoles r where r.UserRoleId = @RoleId
GO
