USE [SaveDC]
GO
/****** Object:  StoredProcedure [dbo].[AddApproval]    Script Date: 02/28/2014 17:43:18 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddApproval] 
@StudentId int,
@ApprovedBy int,
@StatusId int,
@Remarks varchar(255)
/* with encryption */ 

AS

--select * from tblStudents
--select * from  tblStudentsApprovals
--select * from tblStudentStatuses


Declare @StudentCurStatus varchar(50);
Select @StudentCurStatus = ss.StatusName from tblStudentStatuses ss inner join tblStudents s on s.StatusId = ss.StatusId and s.StudentId = @StudentId;

if(@StudentCurStatus is null or @StudentCurStatus = '')
	return -2;
	
if exists(select * from tblStudentsApprovals sp where sp.ApprovedBy = @ApprovedBy and sp.StudentId = @StudentId)
or (@StudentCurStatus not in ('new', 'pending'))
	return -3; -- already approved.

insert into tblStudentsApprovals (StudentId, ApprovedBy,StatusId,Remarks)
values(@StudentId, @ApprovedBy,@StatusId,@Remarks);

if(@StudentCurStatus = 'new')
begin
	update tblStudents set StatusId = 2 where StudentId = @StudentId;
end

Declare @MaxApprovReq int
Declare @MaxRejReq int
select @MaxApprovReq = SettingValue from tblAdminSettings where SettingName = 'minapprovals';
select @MaxRejReq = SettingValue from tblAdminSettings where SettingName = 'minrejections';

if(select COUNT(*) from tblStudentsApprovals sp where sp.ApprovedBy = @ApprovedBy and sp.StudentId = @StudentId
 and sp.StatusId = 3) = @MaxApprovReq
 begin
update tblStudents set StatusId = 3 where StudentId = @StudentId;
end

if(select COUNT(*) from tblStudentsApprovals sp where sp.ApprovedBy = @ApprovedBy and sp.StudentId = @StudentId
 and sp.StatusId = 4) = @MaxRejReq
 begin
update tblStudents set StatusId = 4 where StudentId = @StudentId;
end


	if @@error != 0
		return 0
	else
		return 1
GO
