USE [SaveDC]
GO
/****** Object:  StoredProcedure [dbo].[GetShourtcutLinks]    Script Date: 02/28/2014 17:43:18 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[GetShourtcutLinks]


/* with encryption */ 

AS

	Select * from tblShortcuts order by DisplayOrder
GO
