USE [SaveDC]
GO
/****** Object:  StoredProcedure [dbo].[GetBalanceList]    Script Date: 02/28/2014 17:43:18 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetBalanceList]
@FundedOnDateString varchar(50) = null,

@PageNo int = 1,
@PageSize int = 10,
@TotalRecord int out
/* with encryption */ 

AS


DECLARE @StartRow int , @EndRow int;

If(@PageNo is null or @PageNo = 0)
begin
	SET @PageNo = 1;
end	

If(@PageSize is null or @PageSize = 0)
	SET @PageSize = (Select COUNT(*) from tblBanksBalances);
--else
--	SET @PageSize = 10;
	
SET @StartRow = (@PageNo - 1) * @PageSize + 1;
SET @EndRow = @PageNo * @PageSize


Create Table #TempTable
(
IID int IDENTITY PRIMARY KEY,
BalanceId int,
DateBalance date,
ABL decimal,
FBL decimal
)

Declare @TempSQL varchar(512);


Set @TempSQL = 'Insert into #TempTable(BalanceID, DateBalance, ABL, FBL) select BalanceID, BalanceOn, ABL, FBL from tblBanksBalances ';
 
if(@FundedOnDateString is not null and @FundedOnDateString != '' )
	Set @TempSQL = @TempSQL + ' where dbo.FormateDate( BalanceOn ,1 )  like ''%' + @FundedOnDateString + '%''';

Set @TempSQL = @TempSQL + ' Order by BalanceOn desc'

--if(@FundDateFrom is not null and @FundDateFrom != '' and @FundDateTo is not null and @FundDateTo != '' )
--	Set @TempSQL = @TempSQL + ' And DatePaid between ''' + convert(nvarchar,@FundDateFrom) + ''' and ''' + convert(nvarchar,@FundDateFrom) + '''';

	
exec (@TempSQL);
 
Set @TotalRecord = (select COUNT(*) from #TempTable);


Set @TempSQL = 	'select * from #TempTable '
Set @TempSQL = @TempSQL + ' WHERE  IID >= '+ convert(nvarchar,@StartRow)+' AND IID <= ' + convert(nvarchar,@EndRow)


exec (@TempSQL);
GO
