USE [SaveDC]
GO
/****** Object:  StoredProcedure [dbo].[GetExpenseTypes]    Script Date: 02/28/2014 17:43:18 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetExpenseTypes]


/* with encryption */ 

AS

	Select * from tblExpenseTypes order by ExpenseName
GO
