USE [SaveDC]
GO
/****** Object:  StoredProcedure [dbo].[GetDonorStudents]    Script Date: 02/28/2014 17:43:18 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetDonorStudents]
@DonorId int

/* with encryption */ 

AS

Select StudentId, dbo.ProperCase(FirstName +' '+ LastName ) as StudentName from tblStudents where DonorId = @DonorId and (IsDeleted != 1 or IsDeleted is null);
GO
