USE [SaveDC]
GO
/****** Object:  StoredProcedure [dbo].[LoadMonthlyExpenseCats]    Script Date: 02/28/2014 17:43:18 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LoadMonthlyExpenseCats]
/* with encryption */ 

AS
select ExpenseName from tblExpenseCategories
order by tblExpenseCategories.DisplayOrder asc;
GO
