USE [SaveDC]
GO
/****** Object:  StoredProcedure [dbo].[LoadApplication]    Script Date: 02/28/2014 17:43:18 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LoadApplication]
@ApplicationId int
/* with encryption */ 

AS

select * from tblNewApplications   where ApplicationId = @ApplicationId and IsMoved = 0;
GO
