USE [SaveDC]
GO
/****** Object:  StoredProcedure [dbo].[GetDonorMonthlyReport]    Script Date: 02/28/2014 17:43:18 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetDonorMonthlyReport] 
@DonorId int = null,
@PageNo int = 1,
@PageSize int = 10,
@TotalRecord int out
/* with encryption */ 

AS

DECLARE @StartRow int , @EndRow int;

If(@PageNo is null or @PageNo = 0)
begin
	SET @PageNo = 1;
end	

If(@PageSize is null or @PageSize = 0)
	SET @PageSize = (Select COUNT(*) from tblDonorsExpense);
--else
--	SET @PageSize = 10;
	
SET @StartRow = (@PageNo - 1) * @PageSize + 1;
SET @EndRow = @PageNo * @PageSize


Create Table #TempTable
(
IID int IDENTITY PRIMARY KEY,
DonorExpenseId int,
)

Declare @TempSQL varchar(2048);
set @TempSQL = 'insert into #TempTable (DonorExpenseId) select DonorExpenseId from tblDonorsExpense where DonorId =' + convert(nvarchar,@DonorId)


exec (@TempSQL);
 
Set @TotalRecord = (select COUNT(*) from #TempTable);


Set @TempSQL = 	'select e.*, ABS(e.Amount) as AmountAbs,  dbo.FormateDate(ExpenseMonth, 0) as ExpenseMonthFormatted from #TempTable inner join tblDonorsExpense e on e.DonorExpenseId = #TempTable.DonorExpenseId '
Set @TempSQL = @TempSQL + ' WHERE  IID >= '+ convert(nvarchar,@StartRow)+' AND IID <= ' + convert(nvarchar,@EndRow) + ' order by  ExpenseMonth desc'
exec (@TempSQL);
GO
