USE [SaveDC]
GO
/****** Object:  StoredProcedure [dbo].[LoadHistory]    Script Date: 02/28/2014 17:43:18 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LoadHistory]
@HistoryID int
/* with encryption */ 

AS


	select * from tblStudentHistory where HistoryID = @HistoryID;
GO
