USE [SaveDC]
GO
/****** Object:  StoredProcedure [dbo].[AddStudentProgressReportDetail]    Script Date: 02/28/2014 17:43:18 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddStudentProgressReportDetail]
@ReportId int = 0,
@ParticularId int,
@Notes varchar(255),
@RemarksId int
/* with encryption */ 

AS

	declare @RevValue int;
	Set @RevValue = 0;
	
	if exists(select * from  tblStudentProgressReportDetail  where ReportId  = @ReportId
	 and   ReportParticularId = @ParticularId)
	 begin
		update tblStudentProgressReportDetail  set Notes =	@Notes, RemarksId = @RemarksId
		 where  ReportId  = @ReportId and	 ReportParticularId = @ParticularId
		 
		 set @RevValue = (select ReportDetailId  from  tblStudentProgressReportDetail  where ReportId  = @ReportId
	 and   ReportParticularId = @ParticularId)
	end		 
	else
	begin	
		Insert into tblStudentProgressReportDetail( ReportId , ReportParticularId, Notes,  RemarksId)
		Values( @ReportId , @ParticularId, @Notes,  @RemarksId)
		Set @RevValue = @@IDENTITY;
	end	

	return @RevValue;
GO
