USE [SaveDC]
GO
/****** Object:  StoredProcedure [dbo].[GetSchoolMonthlyDonationReportDetail]    Script Date: 08/21/2014 12:16:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetSchoolMonthlyDonationReportDetail]
@SchoolName varchar (255) = null,
@DonationMonth varchar (255),

@PageNo int = 1,
@PageSize int = 10,
@TotalRecord int out
/* with encryption */ 

AS


DECLARE @StartRow int , @EndRow int;

If(@PageNo is null or @PageNo = 0)
begin
	SET @PageNo = 1;
end	

If(@PageSize is null or @PageSize = 0)
	SET @PageSize = (Select COUNT(*) from tblDonorsFunds);
--else
--	SET @PageSize = 10;
	
SET @StartRow = (@PageNo - 1) * @PageSize + 1;
SET @EndRow = @PageNo * @PageSize


Create Table #TempTable
(
IID int IDENTITY PRIMARY KEY,
DonorName varchar(255),
TotalDonations decimal(38,2),
PaymentDate varchar(255),
Notes varchar(65),
Attachment varchar(50)
)

Declare @TempSQL varchar(1024);

Set @TempSQL = ' Insert into #TempTable(DonorName, TotalDonations, PaymentDate, Notes, Attachment) '
set @TempSQL = @TempSQL + '  select tblUsers.UserName as DonorName, TotalAmount, dbo.FormateDate( DatePaid, 1), left(tblDonorsFunds.Notes, 65)  as Notes, tblDonorsFunds.AttachGUID from tblDonorsFunds inner join tblUsers on tblUsers.userid = tbldonorsfunds.donorid where ' 

if(@SchoolName is not null and @SchoolName != '')
	set @TempSQL =  @TempSQL + ' DonorName like ''%'+ @SchoolName +'%'''	

set @TempSQL =  @TempSQL + ' dbo.FormateDate(DatePaid, 0) like ''%' +  @DonationMonth + '%'''

exec (@TempSQL);
	
Set @TotalRecord = (select COUNT(*) from #TempTable);

Set @TempSQL = 	'select #TempTable.* from #TempTable '
Set @TempSQL = @TempSQL + ' WHERE  IID >= '+ convert(nvarchar,@StartRow)+' AND IID <= ' + convert(nvarchar,@EndRow)
+ 'order by #TempTable.DonorName asc '
exec (@TempSQL);
GO
