USE [SaveDC]
GO
/****** Object:  StoredProcedure [dbo].[AddStudentSchoolEstimation]    Script Date: 02/28/2014 17:43:18 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddStudentSchoolEstimation]
@EstimationId int = 0,
@StudentId int,
@SchoolId int
/* with encryption */ 

AS

	declare @RevValue int;
	Set @RevValue = 0;
	
	if(@EstimationId = 0 or @EstimationId is null)
	begin
		if exists(select * from  tblSchoolEstimations  where SchoolId  = @SchoolId and  StudentId = @StudentId)
		Set @RevValue = (select  EstimationId from  tblSchoolEstimations  where SchoolId  = @SchoolId and  StudentId = @StudentId)
		else
		begin	
			Insert into tblSchoolEstimations( SchoolId , StudentId )
			Values( @SchoolId, @StudentId ) 
			Set @RevValue = @@IDENTITY;
		end	
	end
	else
	begin
		Update tblSchoolEstimations
		set SchoolId = @SchoolId,
		StudentId = @StudentId 
		where  EstimationId = @EstimationId
		
		Set @RevValue = @EstimationId;
	end
	
	return @RevValue;
GO
