USE [SaveDC]
GO
/****** Object:  StoredProcedure [dbo].[DeleteUser]    Script Date: 02/28/2014 17:43:18 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteUser]
@UserId int
/* with encryption */ 

AS


--delete from tblUsers where UserId = @UserId ;


update tblUsers set IsDeleted = 1 where UserId = @UserId ;
	if @@error != 0
		return 0
	else
		return 1
GO
