USE [SaveDC]
GO
/****** Object:  StoredProcedure [dbo].[GetClassesList]    Script Date: 02/28/2014 17:43:18 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetClassesList]
/* with encryption */ 

AS

select * from tblClasses ORDER BY (CASE ClassId
WHEN 14 then 1
WHEN 16 then 2
WHEN 15 then 3
WHEN 13 then 4
WHEN 11 then 5
WHEN 12 then 6
WHEN 1 then 7
Else 100 END) ASC;
GO
