USE [SaveDC]
GO
/****** Object:  StoredProcedure [dbo].[GetUsersList]    Script Date: 02/28/2014 17:43:18 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetUsersList]
@UserName varchar (255) = null,
@UserRoleId int = null,

@PageNo int = 1,
@PageSize int = 10,
@TotalRecord int out
/* with encryption */ 

AS

DECLARE @StartRow int , @EndRow int;

If(@PageNo is null or @PageNo = 0)
begin
	SET @PageNo = 1;
end	

If(@PageSize is null or @PageSize = 0)
	SET @PageSize = (Select COUNT(*) from tblUsers);
--else
--	SET @PageSize = 10;
	
SET @StartRow = (@PageNo - 1) * @PageSize + 1;
SET @EndRow = @PageNo * @PageSize


Create Table #TempTable
(
IID int IDENTITY PRIMARY KEY,
TableRecID int
)

Declare @TempSQL varchar(1024);

Set @TempSQL = ' Insert into #TempTable(TableRecID) select UserId from tblUsers inner join ';
Set @TempSQL = @TempSQL + ' tblUserRoles on tblUserRoles.UserRoleId = tblUsers.UserRoleId and tblUsers.UserRoleId != 1 where IsDeleted != 1 ' ;
 
if(@UserName is not null and @UserName != '')
	Set @TempSQL = @TempSQL + ' And UserName like  ''%'+ @UserName +'%''';
	
if(@UserRoleId is not null and @UserRoleId > 0)
	Set @TempSQL = @TempSQL + ' And tblUsers.UserRoleId =  ' + convert(nvarchar,@UserRoleId) + ' ';
else 
	Set @TempSQL = @TempSQL + ' And tblUsers.UserRoleId !=  4 And tblUsers.UserRoleId !=  5 ';



exec (@TempSQL);

Set @TotalRecord = (select COUNT(*) from #TempTable);

Set @TempSQL = ' Select tblUsers.*,tblUserRoles.RoleName, (select top 1 ActionDate from tblSentSMS where ParentType = ''DON'' and ParentId = tblUsers.UserId order by ActionDate desc ) as LastSMSDate from tblUsers inner join tblUserRoles on tblUserRoles.UserRoleId = tblUsers.UserRoleId inner join #TempTable on tblUsers.UserId = #TempTable.TableRecID '
Set @TempSQL = @TempSQL + ' WHERE  IID >= '+ convert(nvarchar,@StartRow)+' AND IID <= ' + convert(nvarchar,@EndRow)+ ' ORDER BY ' 
if(@UserRoleId is not null and @UserRoleId = 5)
	Set @TempSQL = @TempSQL + ' tblUsers.FirstName'
else
	Set @TempSQL = @TempSQL + ' tblUsers.UserName'
exec (@TempSQL);
GO
