USE [SaveDC]
GO
/****** Object:  StoredProcedure [dbo].[GetBanks]    Script Date: 02/28/2014 17:43:18 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[GetBanks]


/* with encryption */ 

AS

	Select * from tblBanks order by DisplayOrder
GO
