USE [SaveDC]
GO
/****** Object:  StoredProcedure [dbo].[DeleteSchool]    Script Date: 02/28/2014 17:43:18 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteSchool]
@SchoolId int
/* with encryption */ 

AS

delete from tblSchools where SchoolId = @SchoolId ;

--update tblSchools set   IsDeleted = 1 where SchoolId = @SchoolId ;
	if @@error != 0
		return 0
	else
		return 1
GO
