USE [SaveDC]
GO
/****** Object:  StoredProcedure [dbo].[IsStudentVarified]    Script Date: 02/28/2014 17:43:18 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[IsStudentVarified]
@StudentId int

/* with encryption */ 

AS

	select * from tblStudentVarifications where StudentId = @StudentId;
GO
